<section flex class="bgc-grey-800"
         *tdLoading="'person-details'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'accent'">
  <div layout="column" class="parent">
    <!-- *************** Image section *************** -->
    <div *ngIf="featuredCredit && featuredCredit['backdrop_path']" class="bg-image"
         [ngStyle]="{'background-image': 'url(' + apiImgBack + featuredCredit['backdrop_path'] + ')'}"></div>
    <div layout-gt-sm="row" layout-sm="column" layout-align="center" class="custom-bg"
         tdMediaToggle="gt-sm" [mediaClasses]="['pad-left-xl', 'pad-right-xl']">
      <div flex layout-gt-sm="row" layout-sm="column" layout-align="center">
        <div flex layout-gt-sm="row" layout-sm="column" layout-align="center">
          <div *ngIf="isDesktop; then desktop else mobile;"></div>
          <ng-template #desktop>
            <div layout="row" layout-align="center center" class="poster-image push-lg push-right-none">
              <img *ngIf="person['profile_path']" src="{{apiImgOrig + person['profile_path']}}"
                   class="img-fluid rounded">
            </div>
          </ng-template>
          <ng-template #mobile>
            <div flex class="push-top-md push-left-none push-bottom-sm push-right-none"
                 layout="column" layout-align="center center">
              <img flex *ngIf="person['profile_path'] && !isDesktop"
                   src="{{apiImgProf + person['profile_path']}}" class="img-fluid rounded">
            </div>
          </ng-template>
          <div flex layout="column" class="pad-top-xs pad-left-md pad-bottom-md pad-right-md"
               tdMediaToggle="gt-sm" [mediaClasses]="['push-lg', 'push-left-none']">
            <div layout="column" layout-gt-xs="row" layout-align="start center">
              <div layout="row" layout-align="center center" layout-align-gt-xs="start" tdMediaToggle="gt-xs"
                   [mediaClasses]="['pad-left-sm']" flex="70" flex-lg="80" flex-gt-lg="85">
                <h1 class="tc-grey-400" tdMediaToggle="xs" [mediaClasses]="['text-center']">
                  <b class="tc-teal-A400">{{person['name']}}</b>
                </h1>
              </div>
              <div layout="row" layout-align="center center" layout-align-gt-xs="end center" tdMediaToggle="gt-xs"
                   [mediaClasses]="['popularity', 'pad-left-sm']" flex="30" flex-lg="20" flex-gt-lg="15">
                <h1 class="tc-grey-300">
                  <b>{{person['popularity'] | number:'1.0-0'}}</b>
                  <span aria-hidden="true" class="tc-blue-500">
                    <i aria-hidden="true" class="fa fa-thumbs-up star"></i>
                  </span>
                </h1>
              </div>
            </div>
            <div layout="row"><hr flex class="bgc-grey-50"></div>
            <div layout="column" tdMediaToggle="xs" [mediaClasses]="['text-center']">
              <h3 class="mat-headline tc-grey-300 push-bottom-xs"><strong>Biography</strong></h3>
              <span *ngIf="person['biography']; else elseBlock" class="tc-grey-300" tdMediaToggle="gt-xs"
                    [mediaClasses]="['push-left-xs']">
                <span *ngIf="_mediaService.query('xs') || _mediaService.query('md');
                      then limitBlock else noLimitBlock"></span>
                <ng-template #limitBlock>
                  <app-limit-text [text]="person['biography']" [limit]="300"></app-limit-text>
                </ng-template>
                <ng-template #noLimitBlock>
                  {{ person['biography'] }}
                </ng-template>
              </span>
            </div>
            <div layout="column">
              <h3 class="mat-headline tc-grey-300 push-top-sm push-bottom-xs" tdMediaToggle="xs"
                  [mediaClasses]="['text-center']">
                <strong>Personal Info</strong>
              </h3>
              <div class="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-left-xs']">
                <!-- ***************** Runtime *******************-->
                <div layout="row" class="pad-xs col-6 col-sm-4 col-xl-3">
                  <span *ngIf="gender" aria-hidden="true" layout="column" layout-align="start center"
                        class="tc-teal-A400 pad-right-sm pad-top-sm">
                    <i *ngIf="gender === 'Male'" aria-hidden="true" class="fa fa-mars fa-lg"></i>
                    <i *ngIf="gender === 'Female'" aria-hidden="true" class="fa fa-venus fa-lg"></i>
                    <i *ngIf="gender !== 'Female' && gender !== 'Male'" aria-hidden="true"
                       class="fa fa-venus-mars fa-lg"></i>
                  </span>
                  <div layout="column">
                    <span class="tc-grey-400">Gender</span>
                    <span *ngIf="gender; else elseBlock" class="mat-body-1 tc-white fact">
                    {{gender}}
                  </span>
                  </div>
                </div>
                <!-- ***************** Birthday *******************-->
                <div layout="row" class="pad-xs col-6 col-sm-4 col-xl-3">
                  <span aria-hidden="true" layout="column" layout-align="start center"
                        class="tc-teal-A400 pad-right-sm pad-top-sm">
                    <i aria-hidden="true" class="fa fa-birthday-cake fa-lg"></i>
                  </span>
                  <div layout="column">
                    <span class="tc-white">Birthday</span>
                    <span *ngIf="person['birthday']; else elseBlock" class="mat-body-1 tc-white fact">
                      {{person['birthday'] | date:'d-MMM-yyyy'}}
                    </span>
                  </div>
                </div>
                <!-- ***************** Place of birth *******************-->
                <div layout="row" class="pad-xs col-6 col-sm-4 col-xl-3">
                  <span aria-hidden="true" layout="column" layout-align="start center"
                        class="tc-teal-A400 pad-right-sm pad-top-sm">
                    <i aria-hidden="true" class="fa fa-map-marker fa-lg"></i>
                  </span>
                  <div layout="column">
                    <span class="tc-white">Place of Birth</span>
                    <span *ngIf="person['place_of_birth']; else elseBlock" class="mat-body-1 tc-white fact">
                      {{person['place_of_birth']}}
                    </span>
                  </div>
                </div>
                <!-- ***************** Homepage *******************-->
                <div layout="row" class="pad-xs col-6 col-sm-4 col-xl-3">
                  <span aria-hidden="true" layout="column" layout-align="start center"
                        class="tc-teal-A400 pad-right-sm pad-top-sm">
                    <i aria-hidden="true" class="fa fa-external-link fa-lg"></i>
                  </span>
                  <div layout="column" flex="75">
                    <span class="tc-white">Official Site</span>
                    <a *ngIf="person['homepage']; else elseBlock" class="homepage mat-body-1" href="{{person['homepage']}}">
                      {{person['homepage']}}
                    </a>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <span class="mat-body-1 tc-white fact">-</span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div layout="column">
    <div class="movie-toolbar bgc-grey-100">
      <nav mat-tab-nav-bar flex class="text-upper" layout="row" layout-align="center">
        <a mat-tab-link (click)="changeTab(route['value'])" *ngFor="let route of routes"
           [active]="currentTab == route['value']" class="toolbar-item pad-left-sm pad-right-sm">
          <span hide-xs class="tc-grey-900">{{route['title']}}</span>
          <span hide-gt-xs class="tc-grey-900"><mat-icon>{{route['icon']}}</mat-icon></span>
        </a>
      </nav>
    </div>
  </div>
  <div [ngSwitch]="currentTab">
    <div *ngSwitchCase="'1'">
      <app-person-movies></app-person-movies>
    </div>
    <div *ngSwitchCase="'2'">
      <app-person-series></app-person-series>
    </div>
    <div *ngSwitchCase="'3'">
      <app-person-images></app-person-images>
    </div>
  </div>
</section>
