<div class="footer">
  <div hide-xs class="row pad-top-sm pad-bottom-sm">
    <div class="col-sm-12 links">
      <a href="https://github.com/Camilo1090/alert-movies" target="_blank">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <span>Github</span>
      </a>
    </div>
  </div>
  <div class="row pad-bottom-sm" tdMediaToggle="xs"
       [mediaClasses]="['pad-top-xs', 'pad-bottom-xs']">
    <div class="col-12 signature">
      &#169; 2017 - Camilo Ruiz Casanova
    </div>
  </div>
</div>
