<div class="footer">
  <div class="row">
    <div class="col-sm-12 links">
      <a href="https://github.com/Camilo1090/alert-movies" target="_blank">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <span>Github</span>
      </a>
      <!--<a href="https://angular.io" target="_blank">-->
        <!--<mat-icon class="mat-icon-logo" svgIcon="assets:tmdb"></mat-icon>-->
        <!--&lt;!&ndash;<i class="fa fa-medium fa-2x" aria-hidden="true"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span>The Movie Database</span>&ndash;&gt;-->
      <!--</a>-->
      <!--<a href="https://www.twitter.com/tomastrajan" target="_blank">-->
        <!--<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>-->
        <!--<span>Twitter</span>-->
      <!--</a>-->
      <!--<a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"-->
         <!--target="_blank">-->
        <!--<i class="fa fa-youtube fa-2x" aria-hidden="true"></i>-->
        <!--<span>Youtube</span>-->
      <!--</a>-->
      <!--<a href="https://www.instagram.com/tomastrajan" target="_blank">-->
        <!--<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>-->
        <!--<span>Instagram</span>-->
      <!--</a>-->
      <!--<a href="https://www.slides.com/tomastrajan" target="_blank">-->
        <!--<i class="fa fa-desktop fa-2x" aria-hidden="true"></i>-->
        <!--<span>Slides</span>-->
      <!--</a>-->
    </div>
  </div>
  <div class="row">
    <div class="col-12 signature">
      &#169; 2017 - Camilo Ruiz Casanova
      <!--<a matTooltip="Show changelog"-->
         <!--matTooltipPosition="before"-->
         <!--href="\">-->
        <!--<i class="fa fa-rocket"></i> 0.0.0-->
        <!--<span *ngIf="!isProd">[{{envName}}]</span>-->
      <!--</a>-->
    </div>
  </div>
</div>
