<section>
  <div layout="row">
    <div *ngIf="isDesktop" layout="column" class="filters bgc-grey-800">
      <aside tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-md']">
        <h3 class="title push-bottom-sm push-top-sm tc-teal-A400">Category: </h3>
        <mat-form-field class="category-field">
          <mat-select [ngModel]="selectedCategory"
                      (ngModelChange)="onCategoryChanged($event); pagingBar.navigateToPage(1)">
            <mat-option *ngFor="let category of categories" [value]="category['value']">
              {{ category['viewValue'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </aside>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs"
         [mediaClasses]="['results', 'pad-top-sm', 'pad-bottom-md', 'pad-left-md', 'pad-right-md']">
      <div layout="row" layout-align="start center">
        <h2 [ngSwitch]="selectedCategory">
          <span *ngSwitchCase="'popular'">Popular TV Series</span>
          <span *ngSwitchCase="'air'">On The Air TV Series </span>
          <span *ngSwitchCase="'latest'">Latest TV Series</span>
          <span *ngSwitchCase="'top'">Top Rated TV Series</span>
        </h2>
      </div>
      <div flex *tdLoading="'series'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <mat-grid-list *ngIf="series.length > 0; else noResultsBlock" cols="{{columns}}" rowHeight="5:4">
          <mat-grid-tile *ngFor="let serie of series" [colspan]="1" [rowspan]="1">
            <mat-card class="card">
              <a [routerLink]="['/series', serie.id]">
                <div *ngIf="serie['backdrop_path']; else elseBlock">
                  <img mat-card-image [src]="apiImg + serie['backdrop_path']" class="img-responsive" />
                </div>
                <ng-template #elseBlock>
                  <img mat-card-image src="../../../assets/img/no-img.png" class="img-responsive" />
                </ng-template>
              </a>
              <mat-card-content class="bgc-grey-900">
                <div layout="row">
                  <div class="col-xs-10">
                    <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                      {{serie['name']}}</p>
                  </div>
                  <div class="col-xs-offset-1">
                    <div layout="row" class="rating">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{serie['vote_average']}}
                      </p>
                      <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template #noResultsBlock>
        <div class="push-left-md push-top-sm">
          <span class="tc-grey-900">No results were found.</span>
        </div>
      </ng-template>
      <div class="push-top-sm">
        <td-paging-bar #pagingBar *ngIf="series.length > 0" [pageSize]="[20]" [pageLinkCount]="0" [initialPage]="currentPage"
                       [firstLast]="firstLast" [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
          <div *ngIf="isDesktop">
            <span td-paging-bar-label hide-xs>Currently on page: {{currentPage}} of {{totalPages}}</span>
            <span hide-xs>({{totalResults}} results)</span>
          </div>
        </td-paging-bar>
      </div>
    </div>
  </div>
</section>
