<!--The content below is only a placeholder and can be replaced.-->
<td-layout #layout>
  <td-navigation-drawer logo="assets:covalent" sidenavTitle="Landing Page">
    <md-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a md-list-item (click)="layout.close()"><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </ng-template>
    </md-nav-list>
    <md-nav-list td-navigation-drawer-menu>
      <a md-list-item (click)="logout()"><md-icon>exit_to_app</md-icon>Sign out</a>
    </md-nav-list>
  </td-navigation-drawer>
  <td-layout-nav color="none" logo="assets:covalent">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span hide-gt-xs class="tc-blue-500 md-subhead">Landing</span>
      <span hide-xs class="tc-blue-500 md-subhead">Landing Page Template</span>
      <span flex ></span>
    </div>
    <md-toolbar class="pad-none">
      <nav md-stretch-tabs md-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
        <!--<a md-tab-link [routerLink]="[route['route']]" routerLinkActive #ni="routerLinkActive"-->
           <!--[active]="ni.isActive" *ngFor="let route of routes">-->
          <!--<span hide-xs>{{route['title']}}</span>-->
          <!--<span hide-gt-xs><md-icon>{{route['icon']}}</md-icon></span>-->
        <!--</a>-->
      </nav>
    </md-toolbar>
    <!-- router outlet goes here -->
    <router-outlet></router-outlet>

