<section>
  <div layout="row">
    <!--<div *ngIf="isDesktop" layout="column" class="filters bgc-grey-800">-->
      <!--<aside tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-md']">-->
        <!--<h3 class="title push-bottom-sm push-top-sm tc-teal-A400" tdMediaToggle="xs">Category: </h3>-->
        <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-select [ngModel]="selectedCategory" &ndash;&gt;-->
                      <!--&lt;!&ndash;(ngModelChange)="onCategoryChanged($event); pagingBar.navigateToPage(1)">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-option *ngFor="let category of categories" [value]="category['value']">&ndash;&gt;-->
              <!--&lt;!&ndash;{{ category['viewValue'] }}&ndash;&gt;-->
            <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
      <!--</aside>-->
    <!--</div>-->
    <div flex layout="column" tdMediaToggle="gt-xs" class="pad-bottom-md"
         [mediaClasses]="['results', 'pad-top-sm', 'pad-left-md', 'pad-right-md']">
      <div layout="row" layout-align-gt-xs="start center" layout-align-xs="center center">
        <h2 tdMediaToggle="xs" [mediaClasses]="['push-bottom-none', 'push-top-sm']">Popular People</h2>
      </div>
      <div flex *tdLoading="'people'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <mat-grid-list *ngIf="people.length > 0; else noResultsBlock" cols="{{columns}}" rowHeight="500:750">
          <mat-grid-tile *ngFor="let person of people" [colspan]="1" [rowspan]="1">
            <a [routerLink]="['/person', person['id']]">
              <app-custom-card [media]="'person'" [img]="person['profile_path']" [title]="person['name']"
                               [subText]="getKnownFor(person)"></app-custom-card>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template #noResultsBlock>
        <div class="push-left-md push-top-sm">
          <span class="tc-grey-900">No results were found.</span>
        </div>
      </ng-template>
      <div *ngIf="people.length > 0" layout-xs="column" layout-gt-xs="row" layout-align-xs="center center"
           layout-align-sm="center center" layout-align-gt-sm="end center" class="push-top-sm">
        <div>
          <span>Currently on page: {{currentPage}} of {{totalPages}}</span>
          <span>({{totalResults}} results)</span>
        </div>
        <td-paging-bar #pagingBar [pageSize]="[20]" [pageLinkCount]="0"
                       [initialPage]="currentPage" [firstLast]="firstLast" [total]="totalResults"
                       (change)="changePage($event)" class="tc-grey-900">
        </td-paging-bar>
      </div>
    </div>
  </div>
</section>


