<section>
  <div layout="row" tdMediaToggle="gt-xs"
       [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-xl']">
    <div *ngIf="isDesktop" layout="column" class="filters">
      <aside>
        <h3 class="title push-bottom-sm tc-teal-A400" tdMediaToggle="xs">Category: </h3>
        <!--<mat-form-field>-->
          <!--<mat-select [ngModel]="selectedCategory" (ngModelChange)="onCategoryChanged($event); pagingBar.navigateToPage(1)">-->
            <!--<mat-option *ngFor="let category of categories" [value]="category['value']">-->
              <!--{{ category['viewValue'] }}-->
            <!--</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
      </aside>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs" [mediaClasses]="['results']">
      <div flex *tdLoading="'people'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <mat-grid-list cols="{{columns}}" rowHeight="0.2:0.37">
          <mat-grid-tile *ngFor="let person of people" [colspan]="1" [rowspan]="1">
            <mat-card class="card">
              <a [routerLink]="['/person', person.id]">
                <img mat-card-image [src]="apiImg + person['profile_path']" class="img-responsive image" />
              </a>
              <mat-card-content class="bgc-grey-900">
                <div flex layout="column">
                  <div layout="row">
                    <a flex [routerLink]="['/person', person['id']]">
                      <h3 class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{person['name']}}</h3>
                    </a>
                  </div>
                  <div layout="row">
                    <i flex class="text-micro tc-grey-300">{{person['known_for'][0]['title']}}</i>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <td-paging-bar #pagingBar [pageSize]="[10]" [pageLinkCount]="pageLinkCount" [initialPage]="1"
                     [firstLast]="firstLast" [total]="10000" (change)="changePage($event)" class="tc-grey-200">
        <div *ngIf="isDesktop">
          <span td-paging-bar-label hide-xs>Displaying </span>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </div>
      </td-paging-bar>
    </div>
  </div>
</section>


