<section>
  <div layout="row">
    <div *ngIf="isDesktop" layout="column" class="filters bgc-grey-800">
      <aside tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-md']">
        <h3 class="title push-bottom-sm push-top-sm tc-teal-A400" tdMediaToggle="xs">Category: </h3>
        <!--<mat-form-field>-->
          <!--<mat-select [ngModel]="selectedCategory" -->
                      <!--(ngModelChange)="onCategoryChanged($event); pagingBar.navigateToPage(1)">-->
            <!--<mat-option *ngFor="let category of categories" [value]="category['value']">-->
              <!--{{ category['viewValue'] }}-->
            <!--</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
      </aside>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs"
         [mediaClasses]="['results', 'pad-top-sm', 'pad-bottom-md', 'pad-left-md', 'pad-right-md']">
      <div layout="row" layout-align="start center">
        <h2>Popular People</h2>
      </div>
      <div flex *tdLoading="'people'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <mat-grid-list *ngIf="people.length > 0; else noResultsBlock" cols="{{columns}}" rowHeight="1:1.8">
          <mat-grid-tile *ngFor="let person of people" [colspan]="1" [rowspan]="1">
            <mat-card class="person-card bgc-grey-900">
              <a [routerLink]="['/person', person.id]">
                <img mat-card-image [src]="apiImg + person['profile_path']" class="img-responsive image" />
              </a>
              <mat-card-content>
                <div flex layout="column">
                  <div layout="row">
                    <a flex [routerLink]="['/person', person['id']]">
                      <h3 class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{person['name']}}</h3>
                    </a>
                  </div>
                  <div layout="row">
                    <i flex class="text-micro tc-grey-300">{{person['known_for'][0]['title']}}</i>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template #noResultsBlock>
        <div class="push-left-md push-top-sm">
          <span class="tc-grey-900">No results were found.</span>
        </div>
      </ng-template>
      <div class="push-top-sm">
        <td-paging-bar #pagingBar *ngIf="people.length > 0" [pageSize]="[20]" [pageLinkCount]="0" [initialPage]="currentPage"
                       [firstLast]="firstLast" [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
          <div *ngIf="isDesktop">
            <span td-paging-bar-label hide-xs>Currently on page: {{currentPage}} of {{totalPages}}</span>
            <span hide-xs>({{totalResults}} results)</span>
          </div>
        </td-paging-bar>
      </div>
    </div>
  </div>
</section>


