<section flex *tdLoading="'movie'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
  <div layout="column">
    <div layout-gt-md="row" layout-xs="column">
      <!-- *************** Image section *************** -->
      <div *ngIf="isDesktop; then desktop else movile;"></div>
      <ng-template #desktop>
        <div class="push-lg push-right-none" flex-gt-md="30">
          <img *ngIf="movie['poster_path'] && isDesktop" src="{{apiImg + movie['poster_path']}}"
               class="img-responsive img-rounded img-poster">
        </div>
      </ng-template>
      <ng-template #movile>
        <div class="pad-none" flex layout="row" layout-align="center center">
          <img flex *ngIf="movie['backdrop_path'] && !isDesktop"
               src="{{apiImg + movie['backdrop_path']}}" class="img-responsive">
        </div>
      </ng-template>

      <!-- *************** Middle section ***************-->
      <div flex-gt-md="50" layout class="push-lg"
           tdMediaToggle="xs" [mediaClasses]="['push-top-sm', 'push-left-sm']">
        <div flex class="push-right-sm">
          <div layout="column">
            <h1 class="push-bottom-none"
                tdMediaToggle="xs" [mediaClasses]="['mat-title']">
              {{movie['original_title']}}
            </h1>
            <i class="text-micro tc-grey-600">{{getGenre(movie['genres'])}}</i>
          </div>
          <div class="push-top-sm">
            <div layout="row" layout-align="start center">
              <span>{{movie['vote_average']}}</span>
              <mat-icon class="tc-grey-800">star</mat-icon>
            </div>
          </div>
          <h3 class="mat-headline tc-grey-800 push-top-md push-bottom-sm">Overview</h3>
          <span>{{movie['overview']}}</span>
          <h3 class="mat-headline tc-grey-800 push-top-lg push-bottom-sm">Featured Crew</h3>

          <div class="row push-none">
            <div *ngFor="let crew of credits['crew'] | slice:0:6">
              <div layout="column" class="pad-sm col-xs-6 ">
                <strong>{{crew['name']}}</strong>
                <span>{{crew['job']}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- *************** Additional info section ***************-->
      <div flex-gt-xs flex-gt-md="20" layout="column" class="pad-lg info" layout-align="center center">
        <div layout="column" layout-align="center center">
          <div>
            <mat-icon class="fa-4x tc-grey-800 default-icon"
                     fontSet="fa" fontIcon="fa-calendar-o"></mat-icon>
            <div layout="row" layout-align="center center" class="date-calendar" >
              <mat-icon class="fa-lg default-icon" fontSet="fa">
                {{movie['release_date'] | date:'d'}}</mat-icon>
            </div>
          </div>
          <strong class="tc-grey-700 md-button">{{movie['release_date'] | date:'yyyy'}} - {{movie['release_date'] | date:'MMM'}}</strong>
        </div>

        <div layout="column" flex>
          <h3 class="mat-headline tc-grey-800 push-top-md push-bottom-none">Additional info</h3>

          <!-- ***************** Runtime *******************-->
          <strong class="tc-grey-900 push-none push-left-sm push-top-sm">Runtime</strong>
          <span *ngIf="movie['runtime']; else elseBlock"
                class="mat-body-1 push-none push-left-sm">{{convertTime(movie['runtime'])}}</span>

          <!-- ***************** Budget *******************-->
          <strong class="tc-grey-900 push-none push-left-sm push-top-sm">Budget</strong>
          <span *ngIf="movie['budget']; else elseBlock"
                class="mat-body-1 push-none push-left-sm">{{convertMoney(movie['budget'])}}</span>

          <!-- ***************** Revenue *******************-->
          <strong class="tc-grey-900 push-none push-left-sm push-top-sm">Budget</strong>
          <span *ngIf="movie['revenue']; else elseBlock"
                class="mat-body-1 push-none push-left-sm">{{convertMoney(movie['revenue'])}}</span>

          <!-- ***************** Homepage *******************-->
          <strong class=" tc-grey-900 push-none push-left-sm push-top-sm">Homepage</strong>
          <a *ngIf="movie['homepage']; else elseBlock"
             class="mat-body-1 push-none push-left-sm" href="{{movie['homepage']}}">{{movie['homepage']}}</a>

          <!-- ***************** Original language *******************-->
          <strong class=" tc-grey-900 push-none push-left-sm push-top-sm">Original language</strong>
          <span *ngIf="movie['original_language']; else elseBlock"
                class="mat-body-1 push-none push-left-sm text-uppercase">{{movie['original_language']}}</span>

          <!-- ***************** Status *******************-->
          <strong class=" tc-grey-900 push-none push-left-sm push-top-sm">Status</strong>
          <span *ngIf="movie['status']; else elseBlock"
                class="mat-body-1 push-none push-left-sm">{{movie['status']}}</span>

          <ng-template #elseBlock>
            <span class="mat-body-1 push-none push-left-sm">
              No provided
            </span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div layout="column">
    <mat-toolbar class="pad-none" layout-align="center center">
      <nav mat-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
        <a mat-tab-link (click)="changeTab(route['value'])" *ngFor="let route of routes"
           [active]="currentTab == route['value']" class="pad-left-sm pad-right-sm">
          <span hide-xs>{{route['title']}}</span>
          <span hide-gt-xs><mat-icon>{{route['icon']}}</mat-icon></span>
        </a>
      </nav>
    </mat-toolbar>
  </div>
  <div [ngSwitch]="currentTab">
    <div *ngSwitchCase="'1'">
      <!--<app-movie-images></app-movie-images>-->
    </div>
    <div *ngSwitchCase="'2'">
      <!--<app-movie-videos></app-movie-videos>-->
    </div>
    <div *ngSwitchCase="'3'">
      <!--<app-movie-cast></app-movie-cast>-->
    </div>
    <div *ngSwitchCase="'4'">
      <!--<app-movie-cast></app-movie-cast>-->
    </div>
    <div *ngSwitchCase="'5'">
      <!--<app-movie-cast></app-movie-cast>-->
    </div>
  </div>

</section>
