<section flex class="bgc-grey-800"
         *tdLoading="'movie'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
  <div layout="column" class="parent">
    <!-- *************** Image section *************** -->
    <div *ngIf="movie['backdrop_path'] && isDesktop" class="bg-image"
         [ngStyle]="{'background-image': 'url(' + apiImgBack + movie['backdrop_path'] + ')'}"></div>
    <div layout-gt-sm="row" layout-xs="column" layout-align="center" class="custom-bg"
         tdMediaToggle="gt-sm" [mediaClasses]="['pad-left-md', 'pad-right-md']">
      <div *ngIf="isDesktop; then desktop else mobile;"></div>
      <ng-template #desktop>
        <div layout="column" layout-align="center center" class="poster-image push-lg push-right-none" flex-gt-xs="50">
          <img *ngIf="movie['poster_path'] && isDesktop" src="{{apiImgOrig + movie['poster_path']}}"
               class="img-responsive img-rounded">
        </div>
      </ng-template>
      <ng-template #mobile>
        <div flex class="pad-none" layout="row" layout-align="center center">
          <img flex *ngIf="movie['backdrop_path'] && !isDesktop"
               src="{{apiImgOrig + movie['backdrop_path']}}" class="img-responsive">
        </div>
      </ng-template>
      <div flex-gt-md="50" layout="column" class="push-lg" tdMediaToggle="gt-xs"
         [mediaClasses]="['pad-top-xs']">
      <div layout="row">
        <div layout="row" layout-align="left" class="date-title col-xs-9">
          <div hide-xs class="date text-center col-xs-2">
            <span class="tc-grey-400"><i aria-hidden="true" class="fa fa-calendar fa-2x"></i></span>
            <span class="tc-grey-400" layout="column">
              {{movie['release_date'] | date:'d'}} {{movie['release_date'] | date:'MMM'}}
            </span>
          </div>
          <div class="col-xs-10">
            <h1 class="tc-grey-400">
              <b class="tc-teal-A400">{{movie['title']}} </b>
              ({{movie['release_date'] | date:'yyyy'}})
            </h1>
            <i class="tc-grey-500">{{getGenre(movie['genres'])}}</i>
          </div>
        </div>

        <div layout="row" layout-align="end center" class="rating col-xs-3">
          <h1 class="tc-grey-300">
            <b>{{movie['vote_average']}}</b>
            <span aria-hidden="true" class="tc-amber-300">
              <i aria-hidden="true" class="fa fa-star star"></i>
            </span>
          </h1>
        </div>
      </div>
      <div layout="row"><hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
      <div layout="column">
        <h3 class="mat-headline tc-grey-300 fact push-bottom-xs">Overview</h3>
        <span class="push-left-xs tc-grey-300">{{movie['overview']}}</span>
      </div>
      <div layout="column">
        <h3 class="mat-headline tc-grey-300 fact push-top-sm push-bottom-xs">Featured Crew</h3>
        <div class="row push-left-xs">
          <div *ngFor="let crew of credits['crew'] | slice:0:6">
            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <a [routerLink]="['/person', crew.id]" class="crew">
                <strong class="tc-white">{{crew['name']}}</strong>
              </a>
              <span class="tc-grey-400">{{crew['job']}}</span>
            </div>
          </div>
        </div>
      </div>
      <div layout="column">
        <h3 class="mat-headline tc-grey-300 fact push-top-sm push-bottom-xs">Movie Facts</h3>
        <div class="row push-left-xs">
        <!-- ***************** Runtime *******************-->
          <div layout="column" class="pad-xs col-xs-6 col-sm-3">
            <span class="tc-grey-400">Runtime</span>
            <span *ngIf="movie['runtime']; else elseBlock" class="mat-body-1 tc-white fact">
              {{convertTime(movie['runtime'])}}
            </span>
          </div>

          <!-- ***************** Budget *******************-->
          <div layout="column" class="pad-xs col-xs-6 col-sm-3">
            <span class="tc-white">Budget</span>
            <span *ngIf="movie['budget']; else elseBlock" class="mat-body-1 tc-white fact">
              {{convertMoney(movie['budget'])}}
            </span>
          </div>

          <!-- ***************** Revenue *******************-->
          <div layout="column" class="pad-xs col-xs-6 col-sm-3">
            <span class="tc-white">Revenue</span>
            <span *ngIf="movie['revenue']; else elseBlock" class="mat-body-1 tc-white fact">
              {{convertMoney(movie['revenue'])}}
            </span>
          </div>

          <!-- ***************** Homepage *******************-->
          <div layout="column" class="pad-xs col-xs-6 col-sm-3">
            <span class=" tc-white">Homepage</span>
            <a *ngIf="movie['homepage']; else elseBlock" class="mat-body-1" href="{{movie['homepage']}}">
              {{movie['homepage']}}
            </a>
          </div>

          <!-- ***************** Original language *******************-->
          <div layout="column" class="pad-xs col-xs-6 col-sm-3">
            <span class=" tc-white">Original Language</span>
            <span *ngIf="movie['original_language']; else elseBlock" class="mat-body-1 text-uppercase tc-white fact">
              {{movie['original_language']}}
            </span>
          </div>

          <!-- ***************** Status *******************-->
          <div layout="column" class="pad-xs col-xs-6 col-sm-3">
            <span class=" tc-white">Status</span>
            <span *ngIf="movie['status']; else elseBlock" class="mat-body-1 tc-white fact">
              {{movie['status']}}
            </span>
          </div>
        </div>
        <ng-template #elseBlock>
          <span class="mat-body-1 tc-white fact">
            Not provided
          </span>
        </ng-template>
      </div>
    </div>
    </div>
  </div>
  <div layout="column">
    <div class="movie-toolbar bgc-grey-100">
      <nav mat-tab-nav-bar flex class="text-upper" layout="row" layout-align="center">
        <a mat-tab-link (click)="changeTab(route['value'])" *ngFor="let route of routes"
           [active]="currentTab == route['value']" class="toolbar-item pad-left-sm pad-right-sm">
          <span hide-xs class="tc-grey-900">{{route['title']}}</span>
          <span hide-gt-xs class="tc-grey-900"><mat-icon>{{route['icon']}}</mat-icon></span>
        </a>
      </nav>
    </div>
  </div>
  <div [ngSwitch]="currentTab">
    <div *ngSwitchCase="'1'">
      <app-movie-images></app-movie-images>
    </div>
    <div *ngSwitchCase="'2'">
      <app-movie-videos></app-movie-videos>
    </div>
    <div *ngSwitchCase="'3'">
      <app-movie-cast></app-movie-cast>
    </div>
    <div *ngSwitchCase="'4'">
      <app-movie-reviews></app-movie-reviews>
    </div>
    <div *ngSwitchCase="'5'">
      <app-movie-recommendations></app-movie-recommendations>
    </div>
  </div>
</section>
