<section flex class="bgc-grey-800"
         *tdLoading="'series-details'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
  <div layout="column" class="parent">
    <div *ngIf="series['backdrop_path'] && isDesktop" class="bg-image"
         [ngStyle]="{'background-image': 'url(' + apiImgBack + series['backdrop_path'] + ')'}"></div>
    <div layout-gt-sm="row" layout-xs="column" layout-align="center" class="custom-bg"
         tdMediaToggle="gt-sm" [mediaClasses]="['pad-left-md', 'pad-right-md']">
      <div *ngIf="isDesktop; then desktop else mobile;"></div>
      <ng-template #desktop>
        <div layout="column" layout-align="center center" class="poster-image push-lg push-right-none" flex-gt-xs="50">
          <img *ngIf="series['poster_path'] && isDesktop" src="{{apiImgOrig + series['poster_path']}}"
               class="img-responsive img-rounded">
        </div>
      </ng-template>
      <ng-template #mobile>
        <div flex class="pad-none" layout="row" layout-align="center center">
          <img flex *ngIf="series['backdrop_path'] && !isDesktop"
               src="{{apiImgOrig + series['backdrop_path']}}" class="img-responsive">
        </div>
      </ng-template>
      <div flex-gt-md="50" layout="column" class="push-lg" tdMediaToggle="gt-xs"
           [mediaClasses]="['pad-top-xs']">
        <div layout="row">
          <div layout="row" layout-align="left" class="date-title col-xs-9">
            <div hide-xs class="date text-center col-xs-2">
              <span class="tc-grey-400"><i aria-hidden="true" class="fa fa-calendar fa-2x"></i></span>
              <span class="tc-grey-400" layout="column">
                {{series['first_air_date'] | date:'d'}} {{series['first_air_date'] | date:'MMM'}}
              </span>
            </div>
            <div class="col-xs-10">
              <h1 class="tc-grey-400">
                <b class="tc-teal-A400">{{series['name']}} </b>
                ({{series['first_air_date'] | date:'yyyy'}})
              </h1>
              <i class="tc-grey-500">{{getGenre(series['genres'])}}</i>
            </div>
          </div>

          <div layout="row" layout-align="end center" class="rating col-xs-3">
            <h1 class="tc-grey-300">
              <b>{{series['vote_average']}}</b>
              <span aria-hidden="true" class="tc-amber-300">
                <i aria-hidden="true" class="fa fa-star star"></i>
              </span>
            </h1>
          </div>
        </div>
        <div layout="row"><hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
        <div layout="column">
          <h3 class="mat-headline tc-grey-300 push-bottom-xs"><strong>Overview</strong></h3>
          <span class="push-left-xs tc-grey-300">{{series['overview']}}</span>
        </div>
        <div layout="column" *ngIf="crew.length > 0">
          <h3 class="mat-headline tc-grey-300 push-top-sm push-bottom-xs"><strong>Featured Crew</strong></h3>
          <div class="row push-left-xs">
            <div *ngFor="let person of crew | slice:0:6">
              <div layout="column" class="pad-xs col-xs-6 col-sm-3">
                <a [routerLink]="['/person', person.id]" class="crew">
                  <strong class="tc-white">{{person['name']}}</strong>
                </a>
                <span class="tc-grey-400">{{person['job']}}</span>
              </div>
            </div>
          </div>
        </div>
        <div layout="column">
          <h3 class="mat-headline tc-grey-300 push-top-sm push-bottom-xs"><strong>Show Facts</strong></h3>
          <div class="row push-left-xs">
            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class="tc-grey-400">Episode Runtime</span>
              <span *ngIf="series['episode_run_time']; else elseBlock" class="mat-body-1 tc-white fact">
                {{convertTime(series['episode_run_time'][0])}}
              </span>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class="tc-grey-400">Seasons</span>
              <span *ngIf="series['number_of_seasons']; else elseBlock" class="mat-body-1 tc-white fact">
                {{series['number_of_seasons']}}
              </span>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class="tc-grey-400">Episodes</span>
              <span *ngIf="series['number_of_episodes']; else elseBlock" class="mat-body-1 tc-white fact">
                {{series['number_of_episodes']}}
              </span>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class=" tc-grey-400">Homepage</span>
              <a *ngIf="series['homepage']; else elseBlock" class="mat-body-1" href="{{series['homepage']}}">
                {{series['homepage']}}
              </a>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class=" tc-grey-400">Network</span>
              <span *ngIf="networks.length > 0; else elseBlock" class="mat-body-1 text-uppercase tc-white fact">
                {{networks[0]['name']}}
              </span>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class=" tc-grey-400">Company</span>
              <span *ngIf="companies.length > 0; else elseBlock"
                    class="mat-body-1 text-uppercase tc-white fact">
                {{companies[0]['name']}}
              </span>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class=" tc-grey-400">Original Language</span>
              <span *ngIf="series['original_language']; else elseBlock" class="mat-body-1 text-uppercase tc-white fact">
                {{series['original_language']}}
              </span>
            </div>

            <div layout="column" class="pad-xs col-xs-6 col-sm-3">
              <span class=" tc-grey-400">Status</span>
              <span *ngIf="series['status']; else elseBlock" class="mat-body-1 tc-white fact">
                {{series['status']}}
              </span>
            </div>
          </div>
          <ng-template #elseBlock>
            <span class="mat-body-1 tc-white fact">
              Not provided
            </span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div layout="column">
    <div class="movie-toolbar bgc-grey-100">
      <nav mat-tab-nav-bar flex class="text-upper" layout="row" layout-align="center">
        <a mat-tab-link (click)="changeTab(route['value'])" *ngFor="let route of routes"
           [active]="currentTab == route['value']" class="toolbar-item pad-left-sm pad-right-sm">
          <span hide-xs class="tc-grey-900">{{route['title']}}</span>
          <span hide-gt-xs class="tc-grey-900"><mat-icon>{{route['icon']}}</mat-icon></span>
        </a>
      </nav>
    </div>
  </div>
  <div [ngSwitch]="currentTab">
    <div *ngSwitchCase="'1'">
      <app-series-images></app-series-images>
    </div>
    <div *ngSwitchCase="'2'">
      <app-series-videos></app-series-videos>
    </div>
    <div *ngSwitchCase="'3'">
      <app-series-cast></app-series-cast>
    </div>
    <div *ngSwitchCase="'4'">
      <app-series-recommendations></app-series-recommendations>
    </div>
  </div>
</section>
