.parent {
  position: relative;
}

.bg-image {
  /*content: '';*/
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  filter: opacity(100) grayscale(100%) contrast(130%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_bestv2/mVr0UiqyltcfqxbAUcLl9zWL8ah.jpg');*/
  will-change: opacity;
  transition: filter 1s;
}

.custom-bg {
  /*filter: opacity(100) grayscale(0%) contrast(100%);*/
  z-index: 10;
  background-image: radial-gradient(circle at 20% 50%, rgba(43, 64, 84, 0.94) 0%, rgba(44, 39, 17, 0.94) 100%);
}

.poster-image {
  max-width: 30%;
}

.date {
  padding-top: 25px;
}

.date-title {
  /*padding-left: 10px;*/
  padding-right: 10px;
}

.rating {
  padding-right: 25px;
}

.homepage {
  overflow-wrap: break-word;
}

a.crew {
  text-decoration-color: #ffffff;
}

.fact {
  font-weight: bold;
}

.movie-toolbar {
  /*background-color: #303030;*/
}

.toolbar-item {
  font-weight: bold;
  /*color: #F5F5F5;*/
  opacity: 1;
}

a.toolbar-item.mat-tab-label-active {
  opacity: 1;
}

a.toolbar-item {
  text-decoration: none;
  opacity: 0.5;
}

a.toolbar-item:hover {
  opacity: 1;
}

a.toolbar-item:focus {
  opacity: 1;
}

.star {
  font-size: 32px;
  /*padding-left: 5px;*/
}
