<section flex class="bgc-grey-800"
         *tdLoading="'series-details'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'accent'">
  <div layout="column" class="parent">
    <div *ngIf="series['backdrop_path'] && isDesktop" class="bg-image"
         [ngStyle]="{'background-image': 'url(' + apiImgBack + series['backdrop_path'] + ')'}"></div>
    <div flex layout-gt-sm="row" layout-xs="column" layout-align="center" class="custom-bg"
         tdMediaToggle="gt-sm" [mediaClasses]="['pad-left-xl', 'pad-right-xl']">
      <div *ngIf="isDesktop; then desktop else mobile;"></div>
      <ng-template #desktop>
        <div *ngIf="series['poster_path'] && isDesktop" layout="column" layout-align="center center"
             class="poster-image push-lg push-right-none">
          <img src="{{apiImgOrig + series['poster_path']}}" class="img-fluid rounded">
        </div>
      </ng-template>
      <ng-template #mobile>
        <div flex class="pad-none" layout="row" layout-align="center center"
             *ngIf="series['backdrop_path'] && !isDesktop">
          <img flex src="{{apiImgOrig + series['backdrop_path']}}" class="img-fluid">
        </div>
      </ng-template>
      <div layout="row"
           [ngClass]="{'push-md': _mediaService.query('xs'), 'pad-top-xs push-lg': _mediaService.query('gt-xs')}">
        <div flex layout="column">
          <div layout="column" layout-gt-xs="row">
            <div layout="row" layout-align="center center" layout-align-gt-xs="start"
                 flex="70" flex-lg="80" flex-gt-lg="85">
              <div *ngIf="series['first_air_date']" hide-xs layout="column" layout-align="center center"
                   class="pad-top-sm pad-left-sm pad-right-sm text-center" flex="15" flex-md="20">
                <span class="tc-grey-400"><i aria-hidden="true" class="fa fa-calendar fa-2x"></i></span>
                <span class="tc-grey-400">
                  {{series['first_air_date'] | date:'d'}} {{series['first_air_date'] | date:'MMM'}}
                </span>
              </div>
              <div [ngClass]="{'text-center': _mediaService.query('xs'), 'pad-right-sm': _mediaService.query('gt-xs')}"
                   flex="85" flex-md="80">
                <h1 class="tc-grey-400">
                  <b class="tc-teal-A400">{{series['name']}} </b>
                  <span *ngIf="series['first_air_date']" hide-xs>({{series['first_air_date'] | date:'yyyy'}})</span>
                </h1>
                <i class="tc-grey-500">{{getGenres(series['genres'])}}</i>
              </div>
            </div>
            <div hide-gt-xs layout="row" layout-align="center center" class="pad-top-sm pad-bottom-sm">
              <span class="tc-grey-400">
                <i aria-hidden="true" class="fa fa-calendar"></i>
                {{ series['first_air_date'] }}
              </span>
            </div>
            <div layout="row" layout-align="center center" layout-align-gt-sm="end center" tdMediaToggle="gt-xs"
                 [mediaClasses]="['rating', 'pad-left-sm']" flex="30" flex-lg="20" flex-gt-lg="15">
              <h1 class="tc-grey-300">
                <b>{{series['vote_average']}}</b>
                <span aria-hidden="true" class="tc-amber-300">
                  <i *ngIf="series['vote_average'] > 7" aria-hidden="true" class="fa fa-star star"></i>
                  <i *ngIf="series['vote_average'] <= 7 && series['vote_average'] >= 3"
                     aria-hidden="true" class="fa fa-star-half-o star"></i>
                  <i *ngIf="series['vote_average'] < 3" aria-hidden="true" class="fa fa-star-o star"></i>
                </span>
              </h1>
            </div>
          </div>
          <div layout="row"><hr flex class="bgc-grey-50"></div>
          <div layout="column" tdMediaToggle="xs" [mediaClasses]="['text-center']">
            <h3 class="mat-headline tc-grey-300 push-bottom-xs"><strong>Overview</strong></h3>
            <span class="push-left-xs tc-grey-300">{{series['overview']}}</span>
          </div>
          <div layout="column" *ngIf="creditsObservable | async">
            <h3 class="mat-headline tc-grey-300 push-top-sm push-bottom-xs" tdMediaToggle="xs"
                [mediaClasses]="['text-center']">
              <strong>Featured Crew</strong>
            </h3>
            <div *ngIf="crew.length > 0; else noCrewBlock" class="row" tdMediaToggle="gt-xs"
                 [mediaClasses]="['push-left-xs']">
              <div *ngFor="let person of crew | slice:0:8" layout="column" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12 text-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <a [routerLink]="['/person', person.id]" class="crew">
                  <strong class="tc-white">{{person['name']}}</strong>
                </a>
                <span class="tc-grey-400">{{person['job']}}</span>
              </div>
            </div>
            <ng-template #noCrewBlock>
              <div [ngClass]="{'text-center': _mediaService.query('xs'), 'push-left-sm': _mediaService.query('gt-xs')}">
                <span class="tc-grey-50">-</span>
              </div>
            </ng-template>
          </div>
          <div layout="column" flex>
            <h3 class="mat-headline tc-grey-300 push-top-sm push-bottom-xs" tdMediaToggle="xs"
                [mediaClasses]="['text-center']">
              <strong>Show Facts</strong>
            </h3>
            <div class="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-left-xs']">
              <!-- ***************** Episode Runtime *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12  align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-clock-o fa-lg"></i>
                </span>
                <div layout="column">
                  <span class="tc-grey-400">Episode Runtime</span>
                  <span *ngIf="series['episode_run_time']; else elseBlock" class="mat-body-1 tc-white fact">
                    {{convertTime(series['episode_run_time'][0])}}
                  </span>
                </div>
              </div>
              <!-- ***************** Number of Seasons *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12  align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-television fa-lg"></i>
                </span>
                <div layout="column">
                  <span class="tc-grey-400">Seasons</span>
                  <span *ngIf="series['number_of_seasons']; else elseBlock" class="mat-body-1 tc-white fact">
                    {{series['number_of_seasons']}}
                  </span>
                </div>
              </div>
              <!-- ***************** Number of Episodes *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12  align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-list-ol fa-lg"></i>
                </span>
                <div layout="column">
                  <span class="tc-grey-400">Episodes</span>
                  <span *ngIf="series['number_of_episodes']; else elseBlock" class="mat-body-1 tc-white fact">
                    {{series['number_of_episodes']}}
                  </span>
                </div>
              </div>
              <!-- ***************** Homepage *******************-->
              <!--<div layout="row" class="pad-xs col-sm-4 col-xl-3"-->
                   <!--[ngClass]="{-->
                   <!--'col-12  align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),-->
                   <!--'col-6': _mediaService.query('(min-width: 361px)')}">-->
                <!--<span aria-hidden="true" layout="column" layout-align="start center"-->
                      <!--class="tc-teal-A400 pad-right-sm pad-top-sm">-->
                  <!--<i aria-hidden="true" class="fa fa-link fa-lg"></i>-->
                <!--</span>-->
                <!--<div layout="column" flex="75">-->
                  <!--<span class=" tc-grey-400">Homepage</span>-->
                  <!--<a *ngIf="series['homepage']; else elseBlock" class="homepage mat-body-1" -->
                     <!--href="{{series['homepage']}}">-->
                    <!--{{series['homepage']}}-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <!-- ***************** Network *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12  align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-briefcase fa-lg"></i>
                </span>
                <div layout="column">
                  <span class=" tc-grey-400">Network</span>
                  <span *ngIf="networks.length > 0; else elseBlock" class="mat-body-1 text-uppercase tc-white fact">
                    {{networks[0]['name']}}
                  </span>
                </div>
              </div>
              <!-- ***************** Company *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12 align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-building-o fa-lg"></i>
                </span>
                <div layout="column">
                  <span class=" tc-grey-400">Company</span>
                  <span *ngIf="companies.length > 0; else elseBlock"
                        class="mat-body-1 text-uppercase tc-white fact">
                    {{companies[0]['name']}}
                  </span>
                </div>
              </div>
              <!-- ***************** Country *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12 align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <span *ngIf="series['origin_country']; then flagBlock else noFlagBlock"></span>
                  <ng-template #flagBlock>
                    <i aria-hidden="true" class="{{'flag-icon '+'flag-icon-'
                          +(series['origin_country'][0] | lowercase)+''}}"></i>
                  </ng-template>
                  <ng-template #noFlagBlock>
                    <i aria-hidden="true" class="fa fa-globe fa-lg"></i>
                  </ng-template>
                </span>
                <div layout="column">
                  <span class=" tc-white">Production Country</span>
                  <span *ngIf="series['origin_country'] && series['origin_country'][0]; else elseBlock"
                        class="mat-body-1 text-uppercase tc-white fact">
                    {{series['origin_country'][0]}}
                  </span>
                </div>
              </div>
              <!-- ***************** Language *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12 align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-language fa-lg"></i>
                </span>
                <div layout="column">
                  <span class=" tc-grey-400">Original Language</span>
                  <span *ngIf="series['original_language']; else elseBlock"
                        class="mat-body-1 text-uppercase tc-white fact">
                    {{series['original_language']}}
                  </span>
                </div>
              </div>
              <!-- ***************** Status *******************-->
              <div layout="row" class="pad-xs col-sm-4 col-xl-3"
                   [ngClass]="{
                   'col-12 align-content-center justify-content-center': _mediaService.query('(max-width: 360px)'),
                   'col-6': _mediaService.query('(min-width: 361px)')}">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-right-sm pad-top-sm">
                  <i aria-hidden="true" class="fa fa-flag fa-lg"></i>
                </span>
                <div layout="column">
                  <span class=" tc-grey-400">Status</span>
                  <span *ngIf="series['status']; else elseBlock" class="mat-body-1 tc-white fact">
                    {{series['status']}}
                  </span>
                </div>
              </div>
            </div>
            <ng-template #elseBlock>
              <span class="mat-body-1 tc-white fact">
                -
              </span>
            </ng-template>
          </div>
          <div layout="row"><hr flex class="bgc-grey-50"></div>
          <div layout="row">
            <div layout="column" class="push-left-xs push-right-xs" flex>
              <div layout="row" layout-align="center center" layout-align-gt-sm="end center">
                <span aria-hidden="true" layout="column" layout-align="start center"
                      class="tc-teal-A400 pad-top-xs pad-right-xs">
                  <i aria-hidden="true" class="fa fa-external-link"></i>
                </span>
                <span class="tc-white">Homepage</span>
              </div>
              <div layout="row" layout-align="center center" layout-align-gt-sm="end center">
                <a *ngIf="series['homepage']; else elseBlock" class="homepage mat-body-1" href="{{series['homepage']}}">
                  {{series['homepage']}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div layout="column">
    <div class="movie-toolbar bgc-grey-100">
      <nav mat-tab-nav-bar flex class="text-upper" layout="row" layout-align="center">
        <a mat-tab-link (click)="changeTab(route['value'])" *ngFor="let route of routes"
           [active]="currentTab == route['value']" class="toolbar-item pad-left-sm pad-right-sm">
          <span hide-xs class="tc-grey-900">{{route['title']}}</span>
          <span hide-gt-xs class="tc-grey-900"><mat-icon>{{route['icon']}}</mat-icon></span>
        </a>
      </nav>
    </div>
  </div>
  <div [ngSwitch]="currentTab">
    <div *ngSwitchCase="'1'">
      <app-series-images></app-series-images>
    </div>
    <div *ngSwitchCase="'2'">
      <app-series-videos></app-series-videos>
    </div>
    <div *ngSwitchCase="'3'">
      <app-series-cast></app-series-cast>
    </div>
    <div *ngSwitchCase="'4'">
      <app-series-recommendations></app-series-recommendations>
    </div>
  </div>
</section>
