.results {
  padding-left: 200px;
  padding-right: 200px;
}

.content {
  white-space: pre-line;
}

/*button.td-paging-bar-link-page.mat-icon-button.mat-accent {*/
  /*color: #212121 !important;*/
  /*font-weight: bold !important;*/
/*}*/
