<div flex layout="row" tdMediaToggle="gt-xs" class="bgc-grey-300 pad-top-md pad-bottom-lg"
     [mediaClasses]="['pad-left-xl', 'pad-right-xl']">
  <div flex layout="column">
    <div flex
         *tdLoading="'movie-reviews'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
      <div *ngIf="reviews.length > 0; then reviewsBlock else elseBlock"></div>
      <ng-template #reviewsBlock>
        <div flex hide-gt-xs layout="row" layout-align-xs="center">
          <h3 class="title tc-grey-900">Reviews</h3>
        </div>
        <div layout="column" tdMediaToggle="gt-sm"
             [mediaClasses]="['pad-left-xl', 'pad-right-xl']">
          <mat-card *ngFor="let review of reviews" tdMediaToggle="gt-md"
                    [mediaClasses]="['push-left-xl', 'push-right-xl']">
            <mat-card-content layout="column" class="bgc-grey-100">
              <div layout="row">
                <div layout="column" layout-align="left" class="col-12">
                  <h3 class="tc-grey-800">
                    Review by
                    <i class="tc-grey-900"><strong>{{review['author']}}</strong></i>
                  </h3>
                </div>
              </div>
              <div layout="row" class="push-left-md push-bottom-md">
                <i class="tc-grey-800">
                  Find review home page
                  <a href="{{review['url']}}">
                    here
                  </a>
                </i>
              </div>
              <!--<div layout="row"><hr class="col-12"></div>-->
              <div layout="row">
                <span class="tc-grey-800 push-left-xs push-right-xs content"
                      innerHTML="{{review['content'] | formatString:'markdown'}}"></span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div layout="row" layout-align="center center">
          <h3><i class="tc-grey-900"><strong>No reviews found</strong></i></h3>
        </div>
      </ng-template>
    </div>
    <div *ngIf="reviews.length > 0" layout-xs="column" layout-gt-xs="row" layout-align-xs="center center"
         layout-align-sm="center center" layout-align-gt-sm="end center" class="push-top-sm">
      <div>
        <span>Currently on page: {{currentPage}} of {{totalPages}}</span>
        <span>({{totalResults}} results)</span>
      </div>
      <td-paging-bar #pagingBar [pageSize]="[5]" [pageLinkCount]="0" [initialPage]="currentPage"
                     [firstLast]="firstLast" [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
      </td-paging-bar>
    </div>
  </div>
</div>
