td-layout.page mat-sidenav-container.mat-drawer-container {
  background-color: #212121;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #081c24;*/
  width: 100%;
  z-index: 999;
}

.main-gt-xs {
  padding-top: 66.7px;
}

.main-xs {
  padding-top: 112.5px;
}

/*.mat-tab-link {*/
  /*opacity: 1;*/
/*}*/

.logo {
  width: 46px;
  height: 46px;
}

.branding {
  padding: 8px 10px;
}
.sidenav {
  background-color: #424242;
  font-size: 20px;
  font-weight: 500;
}

.sidenav-item:hover {
  background-color: #757575;
}

mat-sidenav-container mat-sidenav a.active {
  color: #424242 !important;
  font-size: 16px;
  background-color: #69f0ae;
  font-weight: bold;
}

mat-sidenav-container mat-sidenav a.active mat-icon {
  color: #424242 !important;
}

a.title {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

a.toolbar-item {
  font-weight: bold;
  color: #F5F5F5;
  opacity: 1;
}
a.toolbar-item:hover {
  color: #69f0ae;
}

a.toolbar-item:focus {
  color: #69f0ae;
}

a.toolbar-item.mat-tab-label-active {
  color: #69f0ae !important;
}

.toolbar {
  background-color: #303030;
  border-bottom: 1px solid hsla(0,0%,100%,.12);
}
