<td-layout #layout>
  <mat-sidenav-container>
    <mat-sidenav class="sidenav" #sidenav mode="push">
      <div class="branding"><img class="logo" [src]="logo"/> <span class="tc-grey-100">{{title}}</span></div>
      <mat-nav-list>
        <a mat-list-item class="sidenav-item tc-grey-100" *ngFor="let route of routes" (click)="sidenav.close()"
           [routerLink]="[route['route']]" routerLinkActive="active">
          <mat-icon class="tc-grey-100">{{route['icon']}}</mat-icon>
          {{route['title']}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

  <td-layout-nav color="primary" class="content">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <div flex>
        <button mat-icon-button class="hidden-md-up" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span hide-gt-xs>
          <a [routerLink]="['/']" class="title tc-grey-100">
            <img class="logo" [src]="logo" />
            <span hide-gt-xs>{{[title]}}</span>
          </a>
          <!--<md-icon class="md-icon-logo" svgIcon="assets:tmdb"></md-icon>-->
        </span>
        <span hide-xs>
          <a [routerLink]="['/']" class="title tc-grey-100" >
            <img class="logo" [src]="logo" />
            <span hide-xs>{{[title]}}</span>
          </a>
          <!--<md-icon class="md-icon-logo tc-deep-orange-500" svgIcon="assets:tmdb"></md-icon>-->
        </span>
        <span flex></span>
      </div>
      <div flex="30" hide-xs hide-sm>
        <!--<app-search></app-search>-->
      </div>
    </div>

    <!--<mat-toolbar class="pad-none z-0 visible">-->
    <div class="toolbar">
      <nav mat-tab-nav-bar class="text-upper" flex>
        <a mat-tab-link class="toolbar-item" [routerLink]="[route['route']]" routerLinkActive #ni="routerLinkActive"
           [active]="ni.isActive" *ngFor="let route of routes">
          <span hide-xs class="">{{route['title']}}</span>
          <span hide-gt-xs class="tc-grey-100"><mat-icon>{{route['icon']}}</mat-icon></span>
        </a>
      </nav>
    </div>
    <!--</mat-toolbar>-->

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </td-layout-nav>
  </mat-sidenav-container>

</td-layout>
