<div layout="row" tdMediaToggle="gt-xs" class="bgc-grey-300 pad-top-md pad-bottom-lg"
     [mediaClasses]="['pad-left-lg', 'pad-right-lg']">
  <div flex layout="column">
    <div flex
         *tdLoading="'movie-recommendations'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
      <div *ngIf="recommendations.length > 0; then recommendationsBlock else elseBlock"></div>
      <ng-template #recommendationsBlock>
        <div flex hide-gt-xs layout="row" layout-align-xs="center">
          <h3 class="title tc-grey-900">Recommendations</h3>
        </div>
        <mat-grid-list cols="{{columns}}" rowHeight="6.5:4">
          <mat-grid-tile *ngFor="let result of recommendations" [colspan]="1" [rowspan]="1">
            <a [routerLink]="['/movie', result['id']]">
              <app-custom-card [media]="'movie'" [img]="result['backdrop_path']" [title]="result['title']"
                               [rating]="result['vote_average']"></app-custom-card>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
      <ng-template #elseBlock>
        <div layout="row" layout-align="center center">
          <h3><i class="tc-grey-900"><strong>No recommendations available</strong></i></h3>
        </div>
      </ng-template>
    </div>
    <div *ngIf="recommendations.length > 0" layout-xs="column" layout-gt-xs="row" layout-align-xs="center center"
         layout-align-sm="center center" layout-align-gt-sm="end center" class="push-top-sm">
      <div>
        <span>Currently on page: {{currentPage}} of {{totalPages}}</span>
        <span>({{totalResults}} results)</span>
      </div>
      <td-paging-bar #pagingBar [pageSize]="[20]" [pageLinkCount]="0" [initialPage]="currentPage"
                     [firstLast]="firstLast" [total]="totalResults" (change)="changePage($event)" class="tc-grey-800">
      </td-paging-bar>
    </div>
  </div>
</div>
