<section class="pad-top-xl pad-bottom-xl" tdMediaToggle="gt-xs" [mediaClasses]="['pad-left-xl', 'pad-right-xl']">
  <div layout="column" class="push-bottom-xl push-left-xs push-right-xs" tdMediaToggle="gt-xs"
       [mediaClasses]="['push-left-md', 'push-right-md']">
    <div layout="row" layout-align="center" class="pad-bottom-xl">
      <h3>
        <strong>Oops!—We can't find the page you're looking for.</strong>
      </h3>
    </div>
    <div hide-xs class="push-bottom-xl"></div>
    <div hide-xs class="push-bottom-xl"></div>
    <div hide-xs class="push-bottom-xl"></div>
  </div>
</section>
