<section class="tc-white"  tdMediaToggle="gt-xs" [mediaClasses]="[]">
  <div layout="row" class="bgc-grey-800">
    <div flex class="pad" tdMediaToggle="gt-xs">
      <div flex *tdLoading="'series'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
      <!--<div class="push-top-xl" hide-xs></div>-->
      <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']" class="text-center">
        <h1 class="title mat-display-1 tc-teal-A400 push-top-xs push-bottom-sm">Trending Movies</h1>
        <div class="center-block carousel-container">
          <carousel class="text-center">
              <slide *ngFor="let movie of movies">
                <a [routerLink]="['/movie', movie.id]">
                  <img src="{{apiImg + movie['backdrop_path']}}" class="img-slide img-responsive">
                </a>
                <!--<img class="img-slide" [src]="imageSources[0]" alt="First slide">-->
                <div class="carousel-caption tc-grey-50">
                  <h3>{{movie['original_title']}}</h3>
                  <div class="carousel-caption-date">
                    <mat-icon class="mat-24 fa-mat tc-grey-50" fontSet="fa" fontIcon="fa-calendar"></mat-icon>
                    <small layout-align="center center" class="tc-grey-50">
                      {{movie['release_date']}}
                    </small>
                  </div>
                  <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                </div>
              </slide>
          </carousel>
        </div>
      </div>
      </div>
    <div class="push-bottom-xl" hide-xs></div>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div layout="row" class="bgc-grey-800">
    <div flex class="pad" tdMediaToggle="gt-xs">
      <div flex *tdLoading="'movies'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
      <div class="push-top-xl" hide-xs></div>
      <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']" class="text-center">
        <h1 class="title mat-display-1 tc-teal-A400 push-top-xs push-bottom-sm">Trending TV Series</h1>
        <div class="center-block carousel-container">
          <carousel class="text-center">
            <slide *ngFor="let serie of series">
              <a [routerLink]="['/serie', serie.id]">
                <img src="{{apiImg + serie['backdrop_path']}}" class="img-slide img-responsive">
              </a>
              <!--<img class="img-slide" [src]="imageSources[0]" alt="First slide">-->
              <div class="carousel-caption tc-grey-50">
                <h3>{{serie['name']}}</h3>
                <!--<div class="carousel-caption-date">-->
                  <!--<mat-icon class="mat-24 fa-mat tc-grey-50" fontSet="fa" fontIcon="fa-calendar"></mat-icon>-->
                  <!--<small layout-align="center center" class="tc-grey-50">-->
                    <!--{{serie['release_date']}}-->
                  <!--</small>-->
                <!--</div>-->
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      </div>
    </div>
    <div class="push-bottom-xl" hide-xs></div>
  </div>
</section>

