.carousel-container {
  max-height: 576px;
  max-width: 1024px;
  margin: auto;
}

.img-slide {
  margin: auto;
}

.carousel-caption {
  /*background-color: hsla(0, 0%, 100%, 0.6);*/
}

.carousel-caption h3 {
  font-weight: bold;
  font-size: 50px;
}

.carousel-caption-date {
  padding-bottom: 5px;
}

.divider {
  border-top-color: hsla(0, 0%, 40%, 1);
}
