<section>
  <div layout="column">
    <div flex layout="row" layout-align-gt-xs="start" layout-align-xs="center" class="bgc-grey-800">
      <div class="pad-left-xl pad-right-xl" [ngClass]="{'pad-top-xs pad-bottom-sm': _mediaService.query('gt-xs'),
           'pad-top-sm pad-bottom-md': _mediaService.query('(max-width: 600px)')}">
        <div hide-sm layout-gt-xs="row" layout-xs="column" class="discover-filters col-xs-12">
          <div layout-gt-xs="column" layout-xs="row">
            <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
               [mediaClasses]="['col-xs-5', 'push-top-xs']">Category: </p>
            <mat-form-field class="category-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
              <mat-select [(ngModel)]="selectedCategory"
                          (ngModelChange)="onCategoryChanged()">
                <mat-option *ngFor="let category of categories" [value]="category['value']">
                  {{ category['viewValue'] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
               [mediaClasses]="['pad-left-md']">
            <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
               [mediaClasses]="['col-xs-5', 'push-top-xs']">Year: </p>
            <mat-form-field class="category-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
              <mat-select [(ngModel)]="selectedYear"
                          (ngModelChange)="onFilterOptionsChanged()">
                <mat-option *ngFor="let y of years" [value]="y.value">
                  {{ y.view }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
               [mediaClasses]="['pad-left-md']">
            <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
               [mediaClasses]="['col-xs-5', 'push-top-xs']">Sort By: </p>
            <mat-form-field class="sort-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
              <mat-select [(ngModel)]="selectedSort"
                          (ngModelChange)="onFilterOptionsChanged()">
                <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                  {{ sort.view }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
               [mediaClasses]="['pad-left-md']">
            <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
               [mediaClasses]="['col-xs-5', 'push-top-xs']">Genres: </p>
            <td-chips class="genres-field" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']" [items]="filteredGenres"
                      [(ngModel)]="genresModel" debounce="0" [placeholder]="genresInputPlaceholder" requireMatch
                      (inputChange)="onGenresInputChanged($event)" (ngModelChange)="onFilterOptionsChanged()"
                      (click)="showAllGenres()" (focusin)="onFocusIn()" (focusout)="onFocusOut()">
              <ng-template td-chip let-chip="chip">
                {{ chip.name }}
              </ng-template>
              <ng-template td-autocomplete-option let-option="option">
                <div layout="row" layout-align="start center">
                  {{ option.name }}
                </div>
              </ng-template>
            </td-chips>
          </div>
        </div>
        <div hide-xs hide-gt-sm *ngIf="!filter" layout="column" class="discover-filters col-xs-12">
          <div layout="row">
            <div layout-gt-xs="column" layout-xs="row">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400">Category: </p>
              <mat-form-field class="category-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
                <mat-select [(ngModel)]="selectedCategory"
                            (ngModelChange)="onCategoryChanged()">
                  <mat-option *ngFor="let category of categories" [value]="category['value']">
                    {{ category['viewValue'] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
                 [mediaClasses]="['pad-left-md']">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
                 [mediaClasses]="['col-xs-5', 'push-top-xs']">Year: </p>
              <mat-form-field class="category-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
                <mat-select [(ngModel)]="selectedYear"
                            (ngModelChange)="onFilterOptionsChanged()">
                  <mat-option *ngFor="let y of years" [value]="y.value">
                    {{ y.view }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
                 [mediaClasses]="['pad-left-md']">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
                 [mediaClasses]="['col-xs-5', 'push-top-xs']">Sort By: </p>
              <mat-form-field class="sort-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
                <mat-select [(ngModel)]="selectedSort"
                            (ngModelChange)="onFilterOptionsChanged()">
                  <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                    {{ sort.view }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div layout="row">
            <div layout-gt-xs="column" layout-xs="row">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400">Genres: </p>
              <td-chips class="genres-field" [items]="filteredGenres"
                        [(ngModel)]="genresModel" debounce="0" [placeholder]="genresInputPlaceholder" requireMatch
                        (inputChange)="onGenresInputChanged($event)" (ngModelChange)="onFilterOptionsChanged()"
                        (click)="showAllGenres()" (focusin)="onFocusIn()" (focusout)="onFocusOut()">
                <ng-template td-chip let-chip="chip">
                  {{ chip.name }}
                </ng-template>
                <ng-template td-autocomplete-option let-option="option">
                  <div layout="row" layout-align="start center">
                    {{ option.name }}
                  </div>
                </ng-template>
              </td-chips>
            </div>
          </div>
        </div>
        <div hide-xs *ngIf="filter" layout="column" class="discover-filters col-xs-12">
          <div layout="row">
            <div layout-gt-xs="column" layout-xs="row">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400">Category: </p>
              <mat-form-field class="category-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
                <mat-select [(ngModel)]="selectedCategory"
                            (ngModelChange)="onCategoryChanged()">
                  <mat-option *ngFor="let category of categories" [value]="category['value']">
                    {{ category['viewValue'] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
                 [mediaClasses]="['pad-left-md']">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
                 [mediaClasses]="['col-xs-5', 'push-top-xs']">Year: </p>
              <mat-form-field class="category-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
                <mat-select [(ngModel)]="selectedYear"
                            (ngModelChange)="onFilterOptionsChanged()">
                  <mat-option *ngFor="let y of years" [value]="y.value">
                    {{ y.view }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div layout="row">
            <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
                 [mediaClasses]="['pad-left-none']">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400" tdMediaToggle="xs"
                 [mediaClasses]="['col-xs-5', 'push-top-xs']">Sort By: </p>
              <mat-form-field class="sort-field pad-left-xs" tdMediaToggle="xs" [mediaClasses]="['col-xs-7']">
                <mat-select [(ngModel)]="selectedSort"
                            (ngModelChange)="onFilterOptionsChanged()">
                  <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                    {{ sort.view }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div layout-gt-xs="column" layout-xs="row" tdMediaToggle="gt-xs"
                 [mediaClasses]="['pad-left-md']">
              <p class="title push-bottom-xs push-top-sm tc-teal-A400">Genres: </p>
              <td-chips class="genres-field" [items]="filteredGenres"
                        [(ngModel)]="genresModel" debounce="0" [placeholder]="genresInputPlaceholder" requireMatch
                        (inputChange)="onGenresInputChanged($event)" (ngModelChange)="onFilterOptionsChanged()"
                        (click)="showAllGenres()" (focusin)="onFocusIn()" (focusout)="onFocusOut()">
                <ng-template td-chip let-chip="chip">
                  {{ chip.name }}
                </ng-template>
                <ng-template td-autocomplete-option let-option="option">
                  <div layout="row" layout-align="start center">
                    {{ option.name }}
                  </div>
                </ng-template>
              </td-chips>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs" class="pad-bottom-md"
         [mediaClasses]="['results', 'pad-top-sm', 'pad-left-md', 'pad-right-md']">
      <div layout="row" layout-align-gt-xs="start center" layout-align-xs="center center">
        <h2 [ngSwitch]="selectedCategory">
          <span *ngSwitchCase="'movies'">Discover Movies</span>
          <span *ngSwitchCase="'series'">Discover TV Series</span>
        </h2>
      </div>
      <div flex *tdLoading="'discover'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <div *ngIf="results.length > 0; else noResultsBlock" [ngSwitch]="selectedCategory">
          <mat-grid-list *ngSwitchCase="'movies'" cols="{{columns}}" rowHeight="5:4">
            <mat-grid-tile *ngFor="let result of results" [colspan]="1" [rowspan]="1">
              <mat-card class="card">
                <a [routerLink]="['/movie', result.id]">
                  <div *ngIf="result['backdrop_path']; else elseBlock">
                    <img mat-card-image [src]="apiImg + result['backdrop_path']" class="img-responsive" />
                  </div>
                  <ng-template #elseBlock>
                    <img mat-card-image src="../../assets/img/no-img.png" class="img-responsive" />
                  </ng-template>
                </a>
                <mat-card-content class="bgc-grey-900">
                  <div layout="row">
                    <div class="col-xs-10">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['title']}}</p>
                    </div>
                    <div class="col-xs-offset-1">
                      <div layout="row" class="rating">
                        <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                          {{result['vote_average']}}
                        </p>
                        <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list *ngSwitchCase="'series'" cols="{{columns}}" rowHeight="5:4">
            <mat-grid-tile *ngFor="let result of results" [colspan]="1" [rowspan]="1">
              <mat-card class="card">
                <a [routerLink]="['/series', result.id]">
                  <div *ngIf="result['backdrop_path']; else elseBlock">
                    <img mat-card-image [src]="apiImg + result['backdrop_path']" class="img-responsive" />
                  </div>
                  <ng-template #elseBlock>
                    <img mat-card-image src="../../assets/img/no-img.png" class="img-responsive" />
                  </ng-template>
                </a>
                <mat-card-content class="bgc-grey-900">
                  <div layout="row">
                    <div class="col-xs-10">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['name']}}</p>
                    </div>
                    <div class="col-xs-offset-1">
                      <div layout="row" class="rating">
                        <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                          {{result['vote_average']}}
                        </p>
                        <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <ng-template #noResultsBlock>
        <div class="push-left-md push-top-sm">
          <span class="tc-grey-900">No results were found.</span>
        </div>
      </ng-template>
      <div *ngIf="results.length > 0" layout-xs="column" layout-gt-xs="row" layout-align-xs="center center"
           layout-align-sm="center center" layout-align-gt-sm="end center" class="push-top-sm">
        <div>
          <span>Currently on page: {{currentPage}} of {{totalPages}}</span>
          <span>({{totalResults}} results)</span>
        </div>
        <td-paging-bar #pagingBar [pageSize]="[20]"
                       [pageLinkCount]="0" [initialPage]="currentPage" [firstLast]="firstLast"
                       [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
        </td-paging-bar>
      </div>
    </div>
  </div>
</section>
