.card {
  background-color: rgba(33, 33, 33, 0.81);
  /*-webkit-transition: all 1s ease;*/
  /*transition: all 0.5s ease;*/
}

.card:hover {
  -ms-transform: scale(1.07,1.07); /* IE 9 */
  -webkit-transform: scale(1.07,1.07); /* Safari */
  transform: scale(1.07,1.07);
  /*-webkit-box-shadow: 10px 10px 10px 0px #69f0ae;*/
  /*-moz-box-shadow: 10px 10px 10px 0px #69f0ae;*/
  /*box-shadow: 0 0 1px 0px #69f0ae;*/
  z-index:9999;
  /*border-right:1px solid transparent;*/
  /*border-bottom:1px solid transparent;*/
  cursor:pointer;
  /*background-color:#fff;*/
}

.card:hover mat-card-content h3,
.card:hover mat-card-content i {
  color: #69f0ae !important;
}
