<div layout="row" tdMediaToggle="gt-xs" class="bgc-grey-300 pad-top-md pad-bottom-lg"
     [mediaClasses]="['pad-left-lg', 'pad-right-lg']">
  <div flex layout="column">
    <div flex *tdLoading="'movie-images'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
      <div flex layout="row" layout-align-xs="center" layout-align-gt-xs="start">
        <h3 class="title tc-grey-900">Backdrops</h3>
      </div>
      <div *ngIf="movieBackdrops.length > 0; then backdropsBlock else elseBlock"></div>
      <ng-template #backdropsBlock>
        <mat-grid-list layout="row" cols="{{columns}}" rowHeight="6.5:4">
          <mat-grid-tile *ngFor="let backdrop of movieBackdrops; let i = index" [colspan]="1" [rowspan]="1">
            <div (click)="openImageModal(i)">
              <app-custom-card [media]="'backdrop'" [img]="backdrop['file_path']"
                               [title]="backdrop['width']+'x'+backdrop['height']"></app-custom-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
      <hr class="divider">
      <div flex layout="row" layout-align-xs="center" layout-align-gt-xs="start">
        <h3 class="title tc-grey-900">Posters</h3>
      </div>
      <div *ngIf="moviePosters.length > 0; then postersBlock else elseBlock"></div>
      <ng-template #postersBlock>
        <mat-grid-list layout="row" cols="{{columns}}" rowHeight="500:750">
          <mat-grid-tile *ngFor="let poster of moviePosters; let i = index" [colspan]="1" [rowspan]="1">
            <div (click)="openImageModal(i + movieBackdrops.length)">
              <app-custom-card [media]="'poster'" [img]="poster['file_path']"
                               [title]="poster['width']+'x'+poster['height']"></app-custom-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
      <ng-template #elseBlock>
        <div layout="row" layout-align="left" class="push-left-sm">
          <i class="tc-grey-900"><strong>No images available</strong></i>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div *ngIf="openModalWindow">
  <modal-gallery [modalImages]="images"
                 [imagePointer]="imagePointer"
                 [enableCloseOutside]="true"
                 (close)="onCloseImageModal($event)"></modal-gallery>
</div>
