@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

@include mat-core();

$primary: mat-palette($mat-grey, 900, 500, 900);
$accent:  mat-palette($mat-teal, 800);
$my_color: mat-palette($mat-grey, 400);

$warn:    mat-palette($mat-red, A200);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();
