<section>
  <div layout="row">
    <div *ngIf="isDesktop" layout="column" class="filters bgc-grey-800">
      <aside tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-md']">
        <h3 class="title push-bottom-sm tc-teal-A400" tdMediaToggle="xs">Media Type: </h3>
        <ul>
          <li>
            <a (click)="onAllClicked()">All <span>{{combinedResults.length}}</span></a>
          </li>
          <li>
            <a (click)="onMoviesClicked()">Movies <span>{{movies.length}}</span></a>
          </li>
          <li>
            <a (click)="onSeriesClicked()">TV Series <span>{{series.length}}</span></a>
          </li>
          <li>
            <a (click)="onPeopleClicked()">People <span>{{people.length}}</span></a>
          </li>
        </ul>
      </aside>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs"
         [mediaClasses]="['results', 'pad-top-md', 'pad-bottom-lg', 'pad-left-md', 'pad-right-md']">
      <div flex *tdLoading="'people'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <mat-grid-list cols="{{columns}}" rowHeight="1:1.8">
          <mat-grid-tile *ngFor="let result of currentResults" [ngSwitch]="result['media_type']"
                         [colspan]="1" [rowspan]="1">
            <mat-card *ngSwitchCase="'movie'" class="person-card bgc-grey-900">
              <a [routerLink]="['/movie', result.id]">
                <img mat-card-image [src]="apiImg + result['poster_path']" class="img-responsive image" />
              </a>
              <mat-card-content>
                <div flex layout="column">
                  <div layout="row">
                    <a flex [routerLink]="['/movie', result['id']]">
                      <h3 class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['title']}}</h3>
                      <span><i>movie</i></span>
                    </a>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card *ngSwitchCase="'tv'" class="person-card bgc-grey-900">
              <a [routerLink]="['/series', result.id]">
                <img mat-card-image [src]="apiImg + result['poster_path']" class="img-responsive image" />
              </a>
              <mat-card-content>
                <div flex layout="column">
                  <div layout="row">
                    <a flex [routerLink]="['/series', result['id']]">
                      <h3 class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['name']}}</h3>
                      <span><i>tv series</i></span>
                    </a>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card *ngSwitchCase="'person'" class="person-card bgc-grey-900">
              <a [routerLink]="['/person', result.id]">
                <img mat-card-image [src]="apiImg + result['profile_path']" class="img-responsive image" />
              </a>
              <mat-card-content>
                <div flex layout="column">
                  <div layout="row">
                    <a flex [routerLink]="['/person', result['id']]">
                      <h3 class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['name']}}</h3>
                    </a>
                    <span><i>person</i></span>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <td-paging-bar #pagingBar [pageSize]="[20]" [pageLinkCount]="pageLinkCount" [initialPage]="1"
                     [firstLast]="firstLast" [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
        <div *ngIf="isDesktop">
          <span td-paging-bar-label hide-xs>Displaying </span>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </div>
      </td-paging-bar>
    </div>
  </div>
</section>
