<section>
  <div layout="row">
    <div *ngIf="isDesktop" layout="column" class="categories bgc-grey-800">
      <aside tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-md']">
        <!--<h3 class="title push-bottom-sm tc-teal-A400" tdMediaToggle="xs">Media Type: </h3>-->
        <div class="media-type-container push-top-sm">
          <ul mat-tab-nav-bar class="media-type-list pad-left-none">
            <li>
              <a mat-tab-link class="text-left pad-left-none" [active]="media == 'movie'"
                 (click)="onMoviesClick()">Movies <span class="results-length">{{totalMovies}}</span></a>
            </li>
            <li>
              <a mat-tab-link class="text-left pad-left-none" [active]="media == 'series'"
                 (click)="onSeriesClick()">TV Series <span class="results-length">{{totalSeries}}</span></a>
            </li>
            <li>
              <a mat-tab-link class="text-left pad-left-none" [active]="media == 'person'"
                 (click)="onPeopleClick()">People <span class="results-length">{{totalPeople}}</span></a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs"
         [mediaClasses]="['search-results-page', 'pad-top-sm', 'pad-bottom-md', 'pad-left-md', 'pad-right-md']">
      <div layout="row" layout-align="start center">
        <h2>Search</h2>
        <mat-icon class="arrow push-top-sm">keyboard_arrow_right</mat-icon>
        <h2 [ngSwitch]="media">
          <span *ngSwitchCase="'movie'">Movies Results</span>
          <span *ngSwitchCase="'series'">TV Series Results</span>
          <span *ngSwitchCase="'person'">People Results</span>
        </h2>
      </div>
      <div flex *tdLoading="'search'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <div flex *ngIf="results.length > 0; else noResultsBlock" [ngSwitch]="media">
          <mat-grid-list *ngSwitchCase="'movie'" cols="{{columns}}" rowHeight="5:4">
            <mat-grid-tile *ngFor="let result of results" [colspan]="1" [rowspan]="1">
              <mat-card class="movie-series-card bgc-grey-900">
                <a [routerLink]="['/movie', result['id']]">
                  <div *ngIf="result['backdrop_path']; else elseBlock">
                    <img mat-card-image [src]="apiImg + result['backdrop_path']" class="img-responsive" />
                  </div>
                </a>
                <mat-card-content class="bgc-grey-900">
                  <div layout="row">
                    <div class="col-xs-10">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['title']}}</p>
                    </div>
                    <div class="col-xs-offset-1">
                      <div layout="row" class="rating">
                        <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                          {{result['vote_average']}}
                        </p>
                        <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list *ngSwitchCase="'series'" cols="{{columns}}" rowHeight="5:4">
            <mat-grid-tile *ngFor="let result of results" [colspan]="1" [rowspan]="1">
              <mat-card class="movie-series-card bgc-grey-900">
                <a [routerLink]="['/series', result['id']]">
                  <div *ngIf="result['backdrop_path']; else elseBlock">
                    <img mat-card-image [src]="apiImg + result['backdrop_path']" class="img-responsive" />
                  </div>
                </a>
                <mat-card-content class="bgc-grey-900">
                  <div layout="row">
                    <div class="col-xs-10">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{result['name']}}</p>
                    </div>
                    <div class="col-xs-offset-1">
                      <div layout="row" class="rating">
                        <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                          {{result['vote_average']}}
                        </p>
                        <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list *ngSwitchCase="'person'" cols="{{columnsPeople}}" rowHeight="1:1.75">
            <mat-grid-tile *ngFor="let result of results" [colspan]="1" [rowspan]="1">
              <mat-card class="person-card bgc-grey-900">
                <a [routerLink]="['/person', result['id']]">
                  <div *ngIf="result['profile_path']; else elseBlock">
                    <img mat-card-image [src]="apiImg + result['profile_path']" class="img-responsive image" />
                  </div>
                </a>
                <mat-card-content>
                  <div flex layout="column">
                    <div layout="row">
                      <a flex [routerLink]="['/person', result['id']]">
                        <h3 class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                          {{result['name']}}</h3>
                      </a>
                    </div>
                    <div *ngIf="result['known_for'] && result['known_for'][0]" layout="row">
                      <i *ngIf="result['known_for'][0]['title']" flex class="text-micro tc-grey-300">
                        {{result['known_for'][0]['title']}}
                      </i>
                      <i *ngIf="result['known_for'][0]['name']" flex class="text-micro tc-grey-300">
                        {{result['known_for'][0]['name']}}
                      </i>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <ng-template #elseBlock>
        <img mat-card-image src="../../assets/img/no-img.png" class="img-responsive" />
      </ng-template>
      <ng-template #noResultsBlock>
        <div class="push-left-md push-top-sm">
          <span class="tc-grey-900">There are no results matching your query.</span>
        </div>
      </ng-template>
      <div class="push-top-sm">
        <td-paging-bar #pagingBar *ngIf="results.length > 0" [pageSize]="[20]"
                       [pageLinkCount]="0" [initialPage]="currentPage" [firstLast]="firstLast"
                       [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
          <div *ngIf="isDesktop">
            <span td-paging-bar-label hide-xs>Currently on page: {{currentPage}} of {{totalPages}}</span>
            <span hide-xs>({{totalResults}} results)</span>
          </div>
        </td-paging-bar>
      </div>
    </div>
  </div>
</section>
