.filters {
  float: left;
  width: 15%;
  /*padding-right: 20px;*/
  /*border-right: dotted #F5F5F5;*/
}

.media-type-list {
  list-style-type: none;
  line-height: 3.5em;
  border-top: 2px solid #fff;
  border-bottom: none;
}

.media-type-list a {
  display: block;
  width: 100%;
  border-bottom: 2px solid #fff;
  /*padding: 12px 0 12px 0;*/
  box-sizing: border-box;
  font-weight: 600;
  color: #FAFAFA;
  text-decoration: none;
  opacity: 1;
}

.media-type-list a:hover {
  border-bottom-color: #69f0ae;
}

.media-type-list a:active {
  border-bottom-color: #69f0ae;
}

.results {
  /*padding-left: 10px;*/
  float: left;
  width: 85%;
}

.title {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1.5vw;
  /*text-transform: uppercase;*/
  /*font-weight: bold;*/
  /*margin-bottom: 30px;*/
}

.arrow {
  font-size: 30px;
  font-weight: bold;
}

.paging-bar {
  font-size: 34px;
}

.image {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0;
}

.image-title {
  /*position: absolute;*/
  /*top: 90%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  bottom: 0;
  left: 0;
  /*opacity: 0.5;*/
  position: absolute;
  width: 100%;
  font-weight: bold;
  height: 20%;
}

.image-text {
  display: inline-block;
  font-size : 1vw; overflow: hidden;
}

.movie-series-card:hover {
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Safari */
  transform: scale(1.1,1.1);
  /*-webkit-box-shadow: 10px 10px 10px 0px #69f0ae;*/
  /*-moz-box-shadow: 10px 10px 10px 0px #69f0ae;*/
  /*box-shadow: 0 0 1px 0px #69f0ae;*/
  z-index:99;
  /*border-right:1px solid transparent;*/
  /*border-bottom:1px solid transparent;*/
  cursor:pointer;
  /*background-color:#fff;*/
}

.movie-series-card:hover mat-card-content p {
  color: #69f0ae !important;
  font-weight: bold;
}

.rating {
  padding-right: 10px;
}

.star {
  font-size: 19px;
  padding-left: 5px;
}

.person-card:hover {
  -ms-transform: scale(1.07,1.07); /* IE 9 */
  -webkit-transform: scale(1.07,1.07); /* Safari */
  transform: scale(1.07,1.07);
  /*-webkit-box-shadow: 10px 10px 10px 0px #69f0ae;*/
  /*-moz-box-shadow: 10px 10px 10px 0px #69f0ae;*/
  /*box-shadow: 0 0 1px 0px #69f0ae;*/
  z-index:99;
  /*border-right:1px solid transparent;*/
  /*border-bottom:1px solid transparent;*/
  cursor:pointer;
  /*background-color:#fff;*/
}

.person-card:hover mat-card-content h3 {
  color: #69f0ae !important;
  font-weight: 200;
  text-decoration: none;
}

.person-card:hover mat-card-content a {
  text-decoration: none;
}
