.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  /*text-align: center;*/
  /*cursor: default;*/
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hovereffect:hover .overlay {
  /*background-color: rgba(170,170,170,0.4);*/
}

.hovereffect:hover .overlay .card-content p {
  color: #69f0ae !important;
  font-weight: bold;
}

.hovereffect span, .hovereffect img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-card .hovereffect .card-image img {
  display: block;
  position: relative;
  max-width: 500px;
  max-height: 281px;
  /*-webkit-transform: scale(1.1);*/
  /*-ms-transform: scale(1.1);*/
  /*transform: scale(1.1);*/
}

.custom-card .hovereffect .card-image-person img {
  display: block;
  position: relative;
  max-width: 500px;
  max-height: 750px;
  /*-webkit-transform: scale(1.1);*/
  /*-ms-transform: scale(1.1);*/
  /*transform: scale(1.1);*/
}

.hovereffect:hover img {
  /*-webkit-transform: scale(1);*/
  /*-ms-transform: scale(1);*/
  /*transform: scale(1);*/
  -ms-transform: scale(1.2,1.2); /* IE 9 */
  -webkit-transform: scale(1.2,1.2); /* Safari */
  transform: scale(1.2,1.2);
}

.custom-card .card-content {
  background: rgba(0, 0, 0, 0.85);
  font-size: 16px;
}

.custom-card:hover .hovereffect {
  -webkit-box-shadow: 0.05px 2px 7px black;
  -moz-box-shadow: 0.05px 2px 7px black;
  box-shadow: 0.05px 2px 7px black;
}

.custom-card {
  /*-webkit-transition: all 0.3s ease-in-out;*/
  /*transition: all 0.3s ease-in-out;*/
}

.custom-card:hover {
  /*-ms-transform: scale(1.02,1.02); !* IE 9 *!*/
  /*-webkit-transform: scale(1.02,1.02); !* Safari *!*/
  /*transform: scale(1.02,1.02);*/
  /*!*-webkit-box-shadow: 10px 10px 10px 0px #69f0ae;*!*/
  /*!*-moz-box-shadow: 10px 10px 10px 0px #69f0ae;*!*/
  /*!*box-shadow: 0 0 1px 0px #69f0ae;*!*/
  /*z-index:99;*/
  /*!*border-right:1px solid transparent;*!*/
  /*!*border-bottom:1px solid transparent;*!*/
  /*cursor:pointer;*/
  /*!*background-color:#fff;*!*/
  /*-webkit-transition: all 0.3s ease-in-out;*/
  /*transition: all 0.3s ease-in-out;*/
}

.custom-card .media-rating {
  /*padding-right: 10px;*/
}

.custom-card .media-rating-star {
  font-size: 19px;
  /*padding-left: 5px;*/
}
