<!--<div>-->
  <!--<div class="hovereffect">-->
    <!--<img class="img-fluid" [src]="_src" alt="">-->
    <!--<div class="overlay">-->
      <!--<div class="content-container">-->
        <!--<span>{{ _title }}</span>-->
      <!--</div>-->
      <!--<a class="info" href="#">link here</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div [ngSwitch]="media">
  <mat-card *ngSwitchCase="'movie'" class="custom-card">
    <div class="hovereffect backdrop">
      <div class="card-image">
        <img *ngIf="img; else elseBlock" mat-card-image [src]="apiImg + img" class="img-fluid" />
      </div>
      <div class="overlay" layout="row" layout-align="center end">
        <div class="card-content pad-top-sm pad-bottom-sm pad-left-md pad-right-md" layout="row" flex>
          <div layout="row" layout-align="start center" flex="80">
            <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
              {{ title }}
            </p>
          </div>
          <div layout="row" layout-align="end center" flex="20">
            <div layout="row" layout-align="end center" class="media-rating">
              <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                {{ rating }}
              </p>
              <mat-icon *ngIf="rating > 7" class="media-rating-star tc-amber-300 pad-left-xs"
                        aria-hidden="true">star</mat-icon>
              <mat-icon *ngIf="rating <= 7" class="media-rating-star tc-amber-300 pad-left-xs"
                        aria-hidden="true">star_half</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngSwitchCase="'series'" class="custom-card">
    <div class="hovereffect backdrop">
      <div class="card-image">
        <img *ngIf="img; else elseBlock" mat-card-image [src]="apiImg + img" class="img-fluid" />
      </div>
      <div class="overlay" layout="row" layout-align="center end">
        <div class="card-content pad-top-sm pad-bottom-sm pad-left-md pad-right-md" layout="row" flex>
          <div layout="row" layout-align="start center" flex="80">
            <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
              {{ title }}
            </p>
          </div>
          <div layout="row" layout-align="end center" flex="20">
            <div layout="row" layout-align="end center" class="media-rating">
              <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                {{ rating }}
              </p>
              <mat-icon *ngIf="rating > 7" class="media-rating-star tc-amber-300 pad-left-xs"
                        aria-hidden="true">star</mat-icon>
              <mat-icon *ngIf="rating <= 7" class="media-rating-star tc-amber-300 pad-left-xs"
                        aria-hidden="true">star_half</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngSwitchCase="'person'" class="custom-card">
    <div class="hovereffect">
      <div class="card-image-person">
        <img *ngIf="img; else elseProfileBlock" mat-card-image [src]="apiImg + img" class="img-fluid" />
      </div>
      <div class="overlay" layout="row" layout-align="center end">
        <div class="card-content pad-top-sm pad-bottom-sm pad-left-sm pad-right-sm" layout="column" flex>
          <div layout="row" layout-align="start center" flex>
            <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
              {{ title }}
            </p>
          </div>
          <div layout="row" layout-align="start center" *ngIf="subText">
            <p class="text-micro tc-grey-400 push-left-sm push-bottom-none">
              <i>{{ subText }}</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngSwitchCase="'backdrop'" class="custom-card pointer">
    <div class="hovereffect backdrop">
      <div class="card-image">
        <img *ngIf="img; else elseBlock" mat-card-image [src]="apiImg + img" class="img-fluid" />
      </div>
      <div class="overlay" layout="row" layout-align="center end">
        <div class="card-content pad-top-sm pad-bottom-sm pad-left-md pad-right-md" layout="row" flex>
          <div layout="row" layout-align="center center" flex>
            <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
              <i>{{ title }}</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngSwitchCase="'poster'" class="custom-card pointer">
    <div class="hovereffect">
      <div class="card-image-person">
        <img *ngIf="img; else elseProfileBlock" mat-card-image [src]="apiImg + img" class="img-fluid" />
      </div>
      <div class="overlay" layout="row" layout-align="center end">
        <div class="card-content pad-top-sm pad-bottom-sm pad-left-md pad-right-md" layout="row" flex>
          <div layout="row" layout-align="center center" flex>
            <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
              <i>{{ title }}</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<!--<mat-card class="card">-->
  <!--<a [routerLink]="['/series', serie.id]">-->
    <!--<div *ngIf="serie['backdrop_path']; else elseBlock">-->
      <!--<img mat-card-image [src]="apiImg + serie['backdrop_path']" class="img-fluid" />-->
    <!--</div>-->
    <!--<ng-template #elseBlock>-->
      <!--<img mat-card-image src="assets/img/no-img.png" class="img-fluid" />-->
    <!--</ng-template>-->
  <!--</a>-->
  <!--<mat-card-content class="bgc-grey-900">-->
    <!--<div layout="row">-->
      <!--<div class="col-10">-->
        <!--<p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">-->
          <!--{{serie['name']}}</p>-->
      <!--</div>-->
      <!--<div class="col-offset-1">-->
        <!--<div layout="row" class="rating">-->
          <!--<p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">-->
            <!--{{serie['vote_average']}}-->
          <!--</p>-->
          <!--<mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->

<ng-template #elseBlock>
  <img mat-card-image src="assets/img/no-img.png" class="img-fluid" />
</ng-template>

<ng-template #elseProfileBlock>
  <img mat-card-image src="assets/img/no-profile.jpg" class="img-fluid" />
</ng-template>

<ng-template #modalTemplate let-c="close" let-d="dismiss">
  <div flex layout="column" layout-align="center center">
    <img *ngIf="img; else elseBlock" [src]="apiImgOrig + img" class="img-fluid" />
  </div>
  <!--<div class="modal-header">-->
    <!--<h4 class="modal-title">Modal title</h4>-->
    <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<p>One fine body&hellip;</p>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>-->
  <!--</div>-->
</ng-template>
