.search-bar .mat-form-field-underline {
  background-color: #ffffff !important;
}

.search-bar .mat-input-placeholder {
  color: #ffffff !important;
  opacity: 0.3;
}


a.search-result {
  color: #1e7ad3;
  text-decoration: none;
}

a.search-result:hover {
  text-decoration: underline;
}

.search {
  position: relative;
  margin: 0;
  /*width: 300px;*/
  font-size: 14px;
}

.search input {}

.search input:focus {}

.search input:focus + .results {
  display: block
}

.search-results {
  /*display: none;*/
  position: absolute;
  /*top: 60px;*/
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0;
  margin: 0 0 0 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #BDBDBD #BDBDBD #BDBDBD;
  border-radius: 3px;
  background-color: #757575;
  max-width: 90%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-results-xs {
  max-width: 100%;
}

.search .search-results li {
  display: block
}

.search .search-results li:first-child {
  margin-top: -1px
}

.search .search-results li:first-child:before, .search .results li:first-child:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}

.search .search-results li:first-child:before {
  border-bottom: 5px solid #BDBDBD;
  top: -11px;
}

.search .search-results li:first-child:after {
  border-bottom: 5px solid #BDBDBD;
  top: -10px;
}

.search .search-results li:first-child:hover:before, .search .results li:first-child:hover:after {
  display: none
}

.search .search-results li:last-child {
  margin-bottom: -1px
}

.search .search-results a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 10px 6px 10px;
  color: #FAFAFA;
  font-weight: 500;
  /*text-shadow: 0 1px #fff;*/
  border: 1px solid transparent;
  border-radius: 3px;
}

.search .search-results a span {
  /*margin-top: 2px;*/
  font-weight: 200;
  max-width: 80%;
}

.search .search-results a span i {
  font-size: 12px;
  font-weight: 200;
}

.search .search-results a img {
  width: 40px;
  height: 60px;
}

.search .search-results a:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  /*background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;*/
}

.search .search-results a:hover {
  text-decoration: none;
  color: #69f0ae;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-color: #69f0ae #69f0ae #69f0ae;
  background-color: #424242;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}
