<div layout="column" class="search" tdMediaToggle="gt-xs" [mediaClasses]="['pad-right-xl']">
  <td-search-box #searchBar class="search-bar tc-grey-50" backIcon="arrow_back"
                 placeholder="Search for a movie, tv series or person..." [showUnderline]="true"
                 [debounce]="300" [alwaysVisible]="true" (searchDebounce)="search($event)"
                 (search)="onEnter($event)" (clear)="clear()" (click)="clear()">
  </td-search-box>
  <div *ngIf="(complete | async)?.length > 0">
    <ul class="search-results" tdMediaToggle="xs" [mediaClasses]="['search-results-xs']">
      <li *ngFor="let result of results | slice:0:5" [ngSwitch]="result['media_type']" class="search-result">
        <a *ngSwitchCase="'movie'" class="search-result"
           [routerLink]="['/movie', result['id']]" (click)="clear()">
          <div layout="row" layout-align="left center">
            <mat-icon>local_movies</mat-icon>
            <span class="push-left-sm">
              {{result['title']}}
            </span>
          </div>
        </a>
        <a *ngSwitchCase="'tv'" class="search-result"
           [routerLink]="['/series', result['id']]" (click)="clear()">
          <div layout="row" layout-align="left center">
            <mat-icon>tv</mat-icon>
            <span class="push-left-sm">
              {{result['name']}}
            </span>
          </div>
        </a>
        <a *ngSwitchCase="'person'" class="search-result"
           [routerLink]="['/person', result['id']]" (click)="clear()">
          <div layout="row" layout-align="left center">
            <mat-icon>person</mat-icon>
            <span class="push-left-sm">
              {{result['name']}}
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
