<div layout="column" class="search">
  <td-search-box #searchBar class="search-bar tc-grey-50" backIcon="arrow_back"
                 placeholder="Search for a movie, tv series, person..."
                 [showUnderline]="_mediaService.query('(max-width: 600px)')"
                 [debounce]="300" [alwaysVisible]="_mediaService.query('(max-width: 600px)')"
                 (searchDebounce)="search($event)" (search)="onEnter($event)" (clear)="clear()"
                 (focusout)="onFocusOut()">
  </td-search-box>
  <div *ngIf="(complete | async)?.length > 0">
    <ul layout="column" class="search-results" tdMediaToggle="xs" [mediaClasses]="['search-results-xs']">
      <li *ngFor="let result of results | slice:0:5" [ngSwitch]="result['media_type']" class="search-result">
        <a *ngSwitchCase="'movie'" class="search-result"
           [routerLink]="['/movie', result['id']]" (click)="clear()">
          <div layout="row" layout-align="start start">
            <img *ngIf="result['poster_path']; else elseBlock"
                 [src]="apiImg + result['poster_path']" class="img-responsive" />
            <span class="push-left-sm push-top-xs">
              {{result['title']}} <i class="tc-grey-400">(Movie)</i>
            </span>
          </div>
        </a>
        <a *ngSwitchCase="'tv'" class="search-result"
           [routerLink]="['/series', result['id']]" (click)="clear()">
          <div layout="row" layout-align="start start">
            <img *ngIf="result['poster_path']; else elseBlock"
                 [src]="apiImg + result['poster_path']" class="img-responsive" />
            <span class="push-left-sm">
              {{result['name']}} <i class="tc-grey-400">(TV Show)</i>
            </span>
          </div>
        </a>
        <a *ngSwitchCase="'person'" class="search-result"
           [routerLink]="['/person', result['id']]" (click)="clear()">
          <div layout="row" layout-align="start start">
            <img *ngIf="result['profile_path']; else elseBlock"
                 [src]="apiImg + result['profile_path']" class="img-responsive" />
            <span class="push-left-sm" flex>
              {{result['name']}} <i class="tc-grey-400">(Person)</i>
            </span>
          </div>
        </a>
      </li>
    </ul>
    <ng-template #elseBlock>
      <img src="../../../assets/img/no-img.png" class="img-responsive" />
    </ng-template>
  </div>
</div>
