<div layout="row" tdMediaToggle="gt-xs" class="bgc-grey-300 pad-top-md pad-bottom-lg"
     [mediaClasses]="['pad-left-lg', 'pad-right-lg']">
  <div flex layout="column">
    <div flex *tdLoading="'person-images'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
      <div *ngIf="personImages.length > 0; then imagesBlock else elseBlock"></div>
      <ng-template #imagesBlock>
        <div flex hide-gt-xs layout="row" layout-align-xs="center">
          <h3 class="title tc-grey-900">Images</h3>
        </div>
        <mat-grid-list layout="row" cols="{{columns}}" rowHeight="500:750">
          <mat-grid-tile *ngFor="let image of personImages; let i = index" [colspan]="1" [rowspan]="1">
            <div (click)="openImageModal(i)">
              <app-custom-card [media]="'poster'" [img]="image['file_path']"
                               [title]="image['width']+'x'+image['height']"></app-custom-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
      <ng-template #elseBlock>
        <div layout="row" layout-align="center center">
          <h3><i class="tc-grey-900"><strong>No images found</strong></i></h3>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div *ngIf="openModalWindow">
  <modal-gallery [modalImages]="images"
                 [imagePointer]="imagePointer"
                 [enableCloseOutside]="true"
                 (close)="onCloseImageModal($event)"></modal-gallery>
</div>
