<section>
  <div layout="column">
    <div layout="row" layout-align-gt-xs="start" layout-align-xs="center" class="filters bgc-grey-800">
      <div class="pad-top-xs pad-left-xl pad-bottom-xs pad-right-xl">
        <div layout="row">
          <div layout-gt-xs="column" layout-xs="row">
            <p class="title push-bottom-xs push-top-sm tc-teal-A400">Category: </p>
            <mat-form-field class="category-field pad-left-md pad-top-xs" tdMediaToggle="gt-xs"
                            [mediaClasses]="['pad-left-xs', 'pad-top-none']">
              <mat-select [(ngModel)]="selectedCategory"
                          (ngModelChange)="onCategoryChanged($event)">
                <mat-option *ngFor="let category of categories" [value]="category['value']">
                  {{ category['viewValue'] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs" class="pad-bottom-md"
         [mediaClasses]="['results', 'pad-top-sm', 'pad-left-md', 'pad-right-md']">
      <div layout="row" layout-align-gt-xs="start center" layout-align-xs="center center">
        <h2 [ngSwitch]="selectedCategory">
          <span *ngSwitchCase="'popular'">Popular Movies</span>
          <span *ngSwitchCase="'now'">Playing Now Movies</span>
          <span *ngSwitchCase="'upcoming'">Upcoming Movies</span>
          <span *ngSwitchCase="'top'">Top Rated Movies</span>
        </h2>
      </div>
      <div flex *tdLoading="'movies'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <mat-grid-list *ngIf="movies.length > 0; else noResultsBlock" cols="{{columns}}" rowHeight="5:4">
          <mat-grid-tile *ngFor="let movie of movies" [colspan]="1" [rowspan]="1">
            <mat-card class="card">
              <a [routerLink]="['/movie', movie.id]">
                <div *ngIf="movie['backdrop_path']; else elseBlock">
                  <img mat-card-image [src]="apiImg + movie['backdrop_path']" class="img-responsive" />
                </div>
                <ng-template #elseBlock>
                  <img mat-card-image src="assets/img/no-img.png" class="img-responsive" />
                </ng-template>
              </a>
              <mat-card-content class="bgc-grey-900">
                <div layout="row">
                  <div class="col-xs-10">
                    <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                      {{movie['title']}}</p>
                  </div>
                  <div class="col-xs-offset-1">
                    <div layout="row" class="rating">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{movie['vote_average']}}
                      </p>
                      <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template #noResultsBlock>
        <div class="push-left-md push-top-sm">
          <span class="tc-grey-900">No results were found.</span>
        </div>
      </ng-template>
      <div *ngIf="movies.length > 0" layout-xs="column" layout-gt-xs="row" layout-align-xs="center center"
           layout-align-sm="center center" layout-align-gt-sm="end center" class="push-top-sm">
        <div>
          <span>Currently on page: {{currentPage}} of {{totalPages}}</span>
          <span>({{totalResults}} results)</span>
        </div>
        <td-paging-bar #pagingBar [pageSize]="[20]"
                       [pageLinkCount]="0" [initialPage]="currentPage" [firstLast]="firstLast"
                       [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
        </td-paging-bar>
      </div>
    </div>
  </div>
</section>
