<section>
  <div layout="row" tdMediaToggle="gt-xs"
       [mediaClasses]="['pad-top-md', 'pad-left-md', 'pad-bottom-lg', 'pad-right-xl']">
    <div *ngIf="isDesktop" layout="column" class="filters">
      <aside>
          <h3 class="title push-bottom-sm tc-teal-A400" tdMediaToggle="xs">Category: </h3>
          <mat-form-field>
            <mat-select [ngModel]="selectedCategory" (ngModelChange)="onCategoryChanged($event); pagingBar.navigateToPage(1)">
              <mat-option *ngFor="let category of categories" [value]="category['value']">
                {{ category['viewValue'] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </aside>
    </div>
    <div flex layout="column" tdMediaToggle="gt-xs" [mediaClasses]="['results']">
      <div flex *tdLoading="'movies'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
          <mat-grid-list cols="{{columns}}" rowHeight="5:4">
            <mat-grid-tile *ngFor="let movie of movies" [colspan]="1" [rowspan]="1">
              <mat-card class="card">
                <a [routerLink]="['/movie', movie.id]">
                  <img mat-card-image [src]="apiImg + movie['backdrop_path']" class="img-responsive" />
                </a>
                <mat-card-content class="bgc-grey-900">
                  <div layout="row">
                    <div class="col-xs-10">
                      <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                        {{movie['title']}}</p>
                    </div>
                    <div class="col-xs-offset-1">
                      <div layout="row" class="rating">
                        <p class="mat-subhead tc-grey-200 push-top-none push-bottom-none">
                          {{movie['vote_average']}}
                        </p>
                        <mat-icon class="star tc-amber-300" aria-hidden="true">star</mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
      </div>
        <td-paging-bar #pagingBar [pageSize]="[10]" [pageLinkCount]="pageLinkCount" [initialPage]="1"
                       [firstLast]="firstLast" [total]="10000" (change)="changePage($event)" class="tc-grey-200">
          <div *ngIf="isDesktop">
            <span td-paging-bar-label hide-xs>Displaying </span>
            {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
          </div>
        </td-paging-bar>
    </div>
  </div>
</section>
